<ion-content>
  <div padding id="cloud-layer" *ngIf="langue==='arabe'" dir="rtl">

    <ion-row>
      <ion-col class="animated fadeInUp">
        <img src="{{pathimage}}/clinisys.png"/>
      </ion-col>
    </ion-row>
    <p>{{mess}}</p>
    <p>{{err}}</p>
    <p>{{errConn}}</p>

    <div fxLayout="row" fxLayoutWrap class="animated fadeInUp">
      <div fxFlex="99">
        <ion-input type="text" #passWord placeholder="{{tabLangue.titreancienm2p}}"
                   required="true" class=" ion-item"></ion-input>
      </div>

      <div fxFlex="99">
        <ion-input type="password" #newpass placeholder="{{tabLangue.titrenvm2p}}"
                   required="true" class=" ion-item"></ion-input>
      </div>

      <div fxFlex="99">
        <ion-input type="password" #confirm placeholder="{{tabLangue.titreconfirmerm2p}}"
                   required="true" class=" ion-item"></ion-input>
      </div>

      <div fxFlex="99">
        <button ion-button class="login-button" (click)="connecter(passWord.value,newpass.value,confirm.value)">
          {{tabLangue.titreconfirmerbtn}}
        </button>
      </div>
    </div>
  </div>
  <!--  <md-card class="animated fadeInUp">
      <ion-input type="password" #passWord placeholder="{{tabLangue.titreancienm2p}}"
                 required="true" class=" ion-item"></ion-input>
      <ion-input type="password" #newpass placeholder="{{tabLangue.titrenvm2p}}"
                 required="true" class=" ion-item"></ion-input>
      <ion-input type="password" #confirm placeholder="{{tabLangue.titreconfirmerm2p}}"
                 required="true" class=" ion-item"></ion-input>
      <button ion-button class="login-button" (click)="connecter(passWord.value,newpass.value,confirm.value)">
        {{tabLangue.login}}
      </button>
    </md-card>
-->

  <div padding id="cloud-layer2" *ngIf="langue==='francais' || langue==='anglais'">

    <ion-row>
      <ion-col class="animated fadeInUp">
        <img src="{{pathimage}}/clinisys.png"/>
      </ion-col>
    </ion-row>
    <p>{{mess}}</p>
    <p>{{err}}</p>
    <p>{{errConn}}</p>
  <!--  <md-card class="animated fadeInUp">
      <ion-input type="text" #passWord placeholder="{{tabLangue.titreancienm2p}}"
                 required="true" class=" ion-item"></ion-input>
      <ion-input type="password" #newpass placeholder="{{tabLangue.titrenvm2p}}"
                 required="true" class=" ion-item"></ion-input>
      <ion-input type="password" #confirm placeholder="{{tabLangue.titreconfirmerm2p}}"
                 required="true" class=" ion-item"></ion-input>
      <button ion-button class="login-button" (click)="connecter(passWord.value,newpass.value,confirm.value)">
        {{tabLangue.login}}
      </button>
    </md-card>-->




    <div fxLayout="row" fxLayoutWrap class="animated fadeInUp">
      <div fxFlex="99">
        <ion-input type="text" #passWord placeholder="{{tabLangue.titreancienm2p}}"
                   required="true" class=" ion-item"></ion-input>
      </div>

      <div fxFlex="99">
        <ion-input type="password" #newpass placeholder="{{tabLangue.titrenvm2p}}"
                   required="true" class=" ion-item"></ion-input>
      </div>

      <div fxFlex="99">
        <ion-input type="password" #confirm placeholder="{{tabLangue.titreconfirmerm2p}}"
                   required="true" class=" ion-item"></ion-input>
      </div>

      <div fxFlex="99">
        <button ion-button class="login-button" (click)="connecter(passWord.value,newpass.value,confirm.value)">
          {{tabLangue.titreconfirmerbtn}}
        </button>
      </div>
    </div>
  </div>

</ion-content>

