page-examen-radio {
  .size{
    font-size: 80%;
  }

  .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:40px;
    height:40px;
  }
  .md-icon-buttonArr{
    float: left;
    background-color: #0277bd;
  }
  .i{
    float: left;
  }
  a { color: inherit;
    text-decoration: none;}
  .card{
    overflow: hidden;
  }
  .firstArr {
    width: 50px;
    float:right; /* add this */
    //  border: 1px solid red;
  }
  .first {
    width: 90px;
    float:left; /* add this */
    // border: 1px solid red;
  }
  .second {
    width: 200px;
    // border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }
  .secondArr {
    width: 200px;

    //   border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }
  .ion-navbar{
    height: 120px !important;
  }
  /*hr {
    display: block;
    clear: both;
    height: 0;
    margin: 10px 0 10px;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: center;
    font-size: 10px;
    line-height: 0;
  }
  hr:after {
    content: "\273D \273D \273D";
    height: 0;
    letter-spacing: 0.5em;
    color: #aaa;
  }*/
  #wrap:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap div {
    float: left;
    word-break: break-all;
  }
  #wrap2:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap2 div {
    float: left;
    word-break: break-all;
  }

  .oneFRANG {
    width: 15%;
    // background-color: red;

    //margin-top: 10px;
  }
  .threeFRANG {
    width: 40%;
    margin-top: 35px;
    direction: rtl;
  }
  .one {
    width: 40%;
    // background-color: red;
    direction: ltr;
    margin-top: 35px;
  }
  .two {
    width: 45%;
    color: white;
    // background-color: yellow;
  }
  .three {
    width: 15%;
    //  background-color: blue;

  }
}
