<!--<ion-header  class="ion-navbar">
  <ion-navbar color="custom-color" class="ion-navbar">
    <div id="wrap" *ngIf="langue==='francais' || langue==='anglais'">
      <div class="oneFRANG" *ngIf="(connection===true)">
        <img src="/android_asset/www/assets/img/{{pass.getimg()}}" width="40" height="40">
        <p> <img src="/android_asset/www/assets/img/green.png" width="20" height="20"></p>
      </div>
      <div class="oneFRANG" *ngIf="(connection===false)">
        <img src="/android_asset/www/assets/img/{{pass.getimg()}}" width="40" height="40">
        <p> <img src="/android_asset/www/assets/img/red.png" width="20" height="20"></p>
      </div>
      <div class="two" *ngIf="(connection===true)"> <p>{{pass.getnom()}}</p>
        <p class="p"> <strong>{{tabLangue.age}}:</strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}</p>
        <p></p>
        <p>{{tabLangue.titreEnligne}} {{histd}}</p>
      </div>
      <div class="two" *ngIf="(connection===false)"> <p>{{pass.getnom()}}</p>
        <p class="p"> <strong>{{tabLangue.age}}:</strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}</p>
        <p></p>
        <p>{{tabLangue.titreHorsLigne}} {{histd}}</p>
      </div>
      <div class="threeFRANG">
        <img src="/android_asset/www/assets/img/i.jpg" width="40" height="40" class="roundedImage">
      </div>
    </div>
    <div id="wrap2" *ngIf="langue==='arabe'" dir="rtl">
      <div class="one">
        <img src="/android_asset/www/assets/img/i.jpg" width="40" height="40" class="roundedImage">
      </div>
      <div class="two" *ngIf="(connection===true)"> <p>{{pass.getnom()}}</p>
        <p class="p"> <strong>{{tabLangue.age}}:</strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}</p>
        <p></p>
        <p>{{tabLangue.titreEnligne}} {{histd}}</p>
      </div>
      <div class="two" *ngIf="(connection===false)"> <p>{{pass.getnom()}}</p>
        <p class="p"> <strong>{{tabLangue.age}}:</strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}</p>
        <p></p>
        <p>{{tabLangue.titreHorsLigne}} {{histd}}</p>
      </div>
      <div class="three" *ngIf="(connection===true)">
        <img src="/android_asset/www/assets/img/{{pass.getimg()}}" width="40" height="40">
        <p> <img src="/android_asset/www/assets/img/green.png" width="20" height="20"></p>
      </div>
      <div class="three" *ngIf="(connection===false)">
        <img src="/android_asset/www/assets/img/{{pass.getimg()}}" width="40" height="40">
        <p> <img src="/android_asset/www/assets/img/red.png" width="20" height="20"></p>
      </div>
    </div>
  </ion-navbar>
</ion-header>-->
<ion-header class="ion-navbar">
  <ion-navbar color="custom-color" class="ion-navbar">

    <ion-list color="custom-color" *ngIf="langue==='arabe'"
              dir="rtl">
      <ion-item color="custom-color"></ion-item>
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p style="text-align: right">{{pass.getnom()}}</p>
        <p style="text-align: right"><strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
        </p>
      </ion-item>
      <ion-item color="custom-color"  *ngIf="connection===true">
        <p style="float: right;padding-right: 10px">
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p style="text-align: right" >{{tabLangue.titreEnligne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color"  *ngIf="connection===false">
        <p style="float: right;padding-right: 10px">
          <img src='/android_asset/www/assets/img/red.png' width="15" height="15">
        </p>
        <p style="text-align: right" >{{tabLangue.titreHorsLigne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color"></ion-item>
    </ion-list>

    <ion-list color="custom-color" *ngIf="langue==='francais' || langue==='anglais'">
      <ion-item color="custom-color"></ion-item>
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p>{{pass.getnom()}}</p>
        <p><strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
        </p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===true">
        <p style="float: left;padding-right: 10px">
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p>{{tabLangue.titreEnligne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===false">
        <p style="float: left;padding-right: 10px">
          <img src='/android_asset/www/assets/img/red.png' width="15" height="15">
        </p>
        <p>{{tabLangue.titreHorsLigne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color"></ion-item>
    </ion-list>
  </ion-navbar>
</ion-header>

<ion-content>


  <md-card padding-top="100" *ngIf="langue==='arabe'" dir="rtl">

    <md-card-header *ngFor="let ExRad of examenRT " (click)="getdocumentById(observF.value)"  >
      <input type="hidden" #observ value="{{ExRad.getobserv()}}">
      <img md-card-avatar src="/android_asset/www/assets/img/word.png">
      <md-card-subtitle><strong>{{tabLangue.titreDemande}}:</strong> {{ExRad.getdateExamen()}}</md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee"> <strong>{{tabLangue.titreExamen}}: </strong>{{ExRad.getdesignationExamen()}}</md-card-subtitle>

    </md-card-header>

    <md-card-header *ngFor="let ExRadF of examenRF " (click)="getdocumentById(observF.value)">
      <input type="hidden" #observF value="{{ExRadF.getobserv()}}">
      <img md-card-avatar src="/android_asset/www/assets/img/wordoff.png">
      <md-card-subtitle><strong>{{tabLangue.titreDemande}}:</strong> {{ExRadF.getdateExamen()}}</md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee"> <strong>{{tabLangue.titreExamen}}: </strong>{{ExRadF.getdesignationExamen()}}</md-card-subtitle>
    </md-card-header>
  </md-card>

  <md-card padding-top="100" *ngIf="langue==='francais' || langue==='anglais'">


    <md-card-header *ngFor="let ExRad of examenRT " (click)="getdocumentById(observ.value)">
      <input type="hidden" #observ value="{{ExRad.getobserv()}}">
      <img md-card-avatar src="/android_asset/www/assets/img/word.png">
      <md-card-subtitle><strong>{{tabLangue.titreDemande}}:</strong> {{ExRad.getdateExamen()}}</md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee"> <strong>{{tabLangue.titreExamen}}: </strong>{{ExRad.getdesignationExamen()}}</md-card-subtitle>

    </md-card-header>

    <md-card-header *ngFor="let ExRadF of examenRF " (click)="getdocumentById(observF.value)">
      <input type="hidden" #observF value="{{ExRadF.getobserv()}}">
      <img md-card-avatar src="/android_asset/www/assets/img/wordoff.png">
      <md-card-subtitle><strong>{{tabLangue.titreDemande}}:</strong> {{ExRadF.getdateExamen()}}</md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee"> <strong>{{tabLangue.titreExamen}}: </strong>{{ExRadF.getdesignationExamen()}}</md-card-subtitle>
    </md-card-header>
  </md-card>

</ion-content>
