<ion-header  class="ii">
  <ion-navbar color="custom-color" class="ion-navbar">
    <table border="0">

      <tr>
        <td rowspan="2">
          <img src='/android_asset/www/assets/img/{{navParams.data.pass.getimg()}}' width="60" height="50">
        </td>
        <td>
          {{navParams.data.pass.getnom()}}
        </td>
        <td>     &nbsp;

        </td>
        <td rowspan="2">
          <img src='/android_asset/www/assets/img/i.jpg' class="roundedImage">
        </td>
      </tr>

      <tr>
        <td><strong>age: </strong>{{navParams.data.pass.getage()}}<strong>CH: </strong>{{navParams.data.pass.getchambre()}}</td>
        <td>  &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>
  <ion-navbar color="custom-color">
    <table border="0">
      <tr>
        <td><img src='/android_asset/www/assets/img/green.png' width="30" height="20"></td>
        <td>En Ligne: Derniére mise a jour le {{dat}}</td>
      </tr>
    </table>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-list>
  <table border="0">
  <ion-item-sliding *ngFor="let ExRad of examenRT ">
    <input type="hidden" #observ value="{{ExRad.getobserv()}}">

    <ion-item (click)="getdocumentById(observ.value)">

  <tr>
 <td rowspan="2">  <ion-avatar item-left>
      <img src='/android_asset/www/assets/img/word.png'>
    </ion-avatar>
 </td>
   <td>
     <a href="{{url}}"> <strong style="color: #0c60ee;">Date demande:</strong></a>{{ExRad.getdateExamen()}}
    </td>
  </tr>
    <tr>
      <td>
    <strong>Examen: </strong> {{ExRad.getdesignationExamen()}}
      </td>
  </tr>

  </ion-item>

  </ion-item-sliding>

    <ion-item-sliding *ngFor="let ExRadF of examenRF ">
      <input type="hidden" #observ value="{{ExRadF.getobserv()}}">

      <ion-item (click)="getdocumentById(observ.value)">

        <tr>
          <td rowspan="2">  <ion-avatar item-left>
            <img src='/android_asset/www/assets/img/wordoff.png'>
          </ion-avatar>
          </td>
          <td>
            <a href="{{url}}"> <strong style="color: #0c60ee;">Date demande:</strong> </a>
          </td>
          <td>{{ExRadF.getdateExamen()}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Examen:</strong>
          </td>
          <td>
            {{ExRadF.getdesignationExamen()}}
          </td>
        </tr>

      </ion-item>

    </ion-item-sliding>
  </table>
</ion-list>

</ion-content>
