.windows, .android, .ios, .md {
  page-tabs {
    .img {
      font-size: 50px;
    }
    ion-scroll {
      white-space: nowrap;
      height: 100%;
    }
    .p {
      padding-left: 2%;
    }
    p {
      padding-left: 1%;
    }
    .roundedImage {
      overflow: hidden;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      width: 35px;
      height: 35px;
    }
    .tabs .tab-item .icon.mcfly {
      background-repeat: no-repeat;
      background-position: 50%;
      height: 100%;
      background-image: url('https://raw.github.com/driftyco/ionic-site/gh-pages/img/docs/mcfly.jpg');
      background-size:contain;
    }
    .i{
      background-image: url('https://raw.github.com/driftyco/ionic-site/gh-pages/img/docs/mcfly.jpg');
    }
  }
}
