<ion-header style="height: 95px;color: white">
  <div fxLayout="row" fxLayoutWrap *ngIf="langue==='francais' || langue==='anglais'" class="md-card">
    <div fxFlex="13" dir="ltr"><img src="/android_asset/www/assets/img/{{pass.getimg()}}" width="40" height="40"></div>
    <div fxFlex="73" style="margin-top: 10px;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    <div fxFlex="13" style="margin-top: 5px;direction:rtl;"><img src="/android_asset/www/assets/img/i.jpg" class="roundedImage"/>
    </div>
  </div>


  <md-card class="md-card2" *ngIf="langue==='francais' || langue==='anglais'">
    <div fxLayout="row" fxLayoutWrap>
      <div fxFlex="13" *ngIf="connection===true" style="margin-top:-15px"><img src="/android_asset/www/assets/img/green.png"
                                                                               width="25" height="25"></div>
      <div fxFlex="13" *ngIf="connection===false" style="margin-top:-15px"><img src="/android_asset/www/assets/img/red.png"
                                                                                width="25" height="25"></div>

      <div fxFlex="86" style="margin-top: -10px;font-size:10px;" *ngIf="connection===false"><strong>{{tabLangue.titreHorsLigne}}</strong> {{histd}} </div>
      <div fxFlex="86" style="margin-top: -10px;font-size:10px;" *ngIf="connection===true"><strong>{{tabLangue.titreEnligne}}</strong> {{histd}}</div>

    </div>
  </md-card>


  <div fxLayout="row" fxLayoutWrap *ngIf="langue==='arabe'" class="md-card">
    <div fxFlex="13" dir="ltr"><img src="/android_asset/www/assets/img/i.jpg" class="roundedImage"/></div>
    <div fxFlex="73" style="margin-top: 10px;direction:rtl;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    <div fxFlex="13" style="margin-top: 5px;direction:rtl;"><img src="/android_asset/www/assets/img/{{pass.getimg()}}" width="40"
                                                                 height="40"></div>
  </div>
  <md-card *ngIf="langue==='arabe'" class="md-card2">
    <div fxLayout="row" fxLayoutWrap>

      <div fxFlex="86" style="margin-top: -10px;font-size:10px;direction:rtl;" *ngIf="connection===false"><strong>{{tabLangue.titreHorsLigne}}</strong> {{histd}} </div>
      <div fxFlex="86" style="margin-top: -10px;font-size:10px;direction:rtl;" *ngIf="connection===true"><strong>{{tabLangue.titreEnligne}}</strong> {{histd}}</div>

      <div fxFlex="13" *ngIf="connection===true" style="margin-top:-15px;direction:rtl;"><img
        src="/android_asset/www/assets/img/green.png" width="30" height="30"></div>
      <div fxFlex="13" *ngIf="connection===false" style="margin-top:-15px;direction:rtl;"><img
        src="/android_asset/www/assets/img/red.png" width="30" height="30"></div>

    </div>
  </md-card>



</ion-header>
<ion-content>
  <md-card padding-top="100" *ngIf="langue==='arabe'" dir="rtl">

    <md-card-header *ngFor="let labt of LabosT "  (click)="gotPdf(labt)" >

      <img md-card-avatar src="/android_asset/www/assets/img/pdf.png">
      <md-card-subtitle><strong>{{tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}</md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee">  <strong>{{tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
        <br/>{{ labt.getcodeDemande().substr(17, 31)}}
        <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}</md-card-subtitle>

    </md-card-header>

    <md-card-header *ngFor="let labt of LabosF " (click)="gotPdf(labt)">

      <img md-card-avatar src="/android_asset/www/assets/img/pdfoff.png">
      <md-card-subtitle><strong>{{tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}</md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee">  <strong>{{tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
        <br/>{{ labt.getcodeDemande().substr(17, 31)}}
        <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}</md-card-subtitle>
    </md-card-header>
  </md-card>

  <md-card padding-top="100" *ngIf="langue==='francais' || langue==='anglais'">

    <md-card-header *ngFor="let labt of LabosT "  (click)="gotPdf(labt)" >

      <img md-card-avatar src="/android_asset/www/assets/img/pdf.png">
      <md-card-subtitle><strong>{{tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}</md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee">
        <strong>{{tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
        <br/>{{ labt.getcodeDemande().substr(17, 31)}}
        <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}
      </md-card-subtitle>

    </md-card-header>

    <md-card-header *ngFor="let labt of LabosF " (click)="gotPdf(labt)">

      <img md-card-avatar src="/android_asset/www/assets/img/pdfoff.png">
      <md-card-subtitle>
        <strong>{{tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
      </md-card-subtitle>
      <md-card-subtitle style="color: #0c60ee">
        <strong>{{tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
        <br/>{{ labt.getcodeDemande().substr(17, 31)}}
        <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}
      </md-card-subtitle>
    </md-card-header>
  </md-card>






  <!--<ion-navbar *ngIf="langue==='arabe'"
              dir="rtl">
    <table border="0" *ngFor="let labt of LabosT ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdf.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
          <br/>{{ labt.getcodeDemande().substr(17, 31)}}
          <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{tabLangue.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
    <table border="0" *ngFor="let labt of LabosF ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdfoff.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{navParams.data.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreExamen}} :</strong> <br/>{{ labt.getcodeDemande() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>
  <ion-navbar *ngIf="langue==='francais' || langue==='anglais'">
    <table border="0" *ngFor="let labt of LabosT ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdf.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
          <br/>{{ labt.getcodeDemande().substr(17, 31)}}
          <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{tabLangue.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
    <table border="0" *ngFor="let labt of LabosF ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdfoff.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{navParams.data.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreExamen}} :</strong> <br/>{{ labt.getcodeDemande() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>-->
</ion-content>
