<ion-header  class="ii">
  <ion-navbar color="custom-color" class="ion-navbar">
    <table border="0">

      <tr>
        <td rowspan="2">
          <img src='/android_asset/www/assets/img/{{navParams.data.pass.getimg()}}' width="60" height="50">
        </td>
        <td>
          {{navParams.data.pass.getnom()}}
        </td>
        <td>     &nbsp;

        </td>
        <td rowspan="2">
          <img src='/android_asset/www/assets/img/i.jpg' class="roundedImage">
        </td>
      </tr>

      <tr>
        <td><strong>age: </strong>{{navParams.data.pass.getage()}}<strong>CH: </strong>{{navParams.data.pass.getchambre()}}</td>
        <td>  &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>
  <ion-navbar color="custom-color">
    <table border="0">
      <tr>
        <td><img src='/android_asset/www/assets/img/green.png' width="30" height="20"></td>
        <td>En Ligne: Derniére mise a jour le {{dat}}</td>
      </tr>
    </table>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let labt of LabosT ">
      <ion-item (click)="openURL(labt.getnumAdmission())">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/pdf.png'>
        </ion-avatar>
        <p><strong>Medecin:</strong>{{ labt.getmedecinTraitant() }} </p>
        <p style="color: #0c60ee"><strong>Examen :</strong> {{ labt.getcodeDemande() }}</p>
        <p style="color: #0c60ee"><strong>Date Demande </strong>{{ labt.getdateDemande() }}</p>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding *ngFor="let labf of LabosF ">
      <ion-item (click)="openURL(labf.getnumAdmission())">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/pdfoff.png'>
        </ion-avatar>
        <p><strong>Medecin:</strong>{{ labf.getmedecinTraitant() }} </p>
        <p style="color: #0c60ee"><strong>Examen :</strong> {{ labf.getcodeDemande() }}</p>
        <p style="color: #0c60ee"><strong>Date Demande </strong>{{ labf.getdateDemande() }}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
