<input type="text" value="{{this.navParams.get('langue')}}" #lang/>
<ion-header  class="ion-navbar">
  <ion-navbar color="custom-color" class="ion-navbar">
    <ion-list color="custom-color" *ngIf="(lang.value)==='arabe'"
              dir="rtl">
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{navParams.data.pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p style="text-align: right">{{navParams.data.pass.getnom()}}</p>
        <p style="text-align: right"><strong>{{navParams.data.tabLangue.age}}: </strong>{{navParams.data.pass.getage()}}<strong>{{navParams.data.tabLangue.ch}}: </strong>{{navParams.data.pass.getchambre()}}</p>
      </ion-item>
      <ion-item color="custom-color">
        <p item-right>
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p style="text-align: right">{{navParams.data.tabLangue.titreEnligne}}<br/> {{navParams.data.dat}}</p>
      </ion-item>
    </ion-list>

    <ion-list color="custom-color" *ngIf="(lang.value)==='francais' || (lang.value)==='anglais'">
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{navParams.data.pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p>{{navParams.data.pass.getnom()}}</p>
        <p><strong>{{navParams.data.tabLangue.age}}: </strong>{{navParams.data.pass.getage()}}<strong>{{navParams.data.tabLangue.ch}}: </strong>{{navParams.data.pass.getchambre()}}</p>
      </ion-item>
      <ion-item color="custom-color">
        <p item-left>
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p>{{navParams.data.tabLangue.titreEnligne}}<br/> {{navParams.data.dat}}</p>
      </ion-item>
    </ion-list>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar *ngIf="(lang.value)==='arabe'"
              dir="rtl">
    <table border="0" *ngFor="let labt of LabosT ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdf.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{navParams.data.tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
          <br/>{{ labt.getcodeDemande().substr(17, 31)}}
          <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.tabLangue.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>

    <table border="0" *ngFor="let labt of LabosF ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdfoff.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{navParams.data.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreExamen}} :</strong> <br/>{{ labt.getcodeDemande() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>

  <ion-navbar *ngIf="(lang.value)==='francais' || (lang.value)==='anglais'">
    <table border="0" *ngFor="let labt of LabosT ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdf.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{navParams.data.tabLangue.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.tabLangue.titreExamen}} :</strong>{{ labt.getcodeDemande().substr(0, 17)}}
          <br/>{{ labt.getcodeDemande().substr(17, 31)}}
          <br/>{{ labt.getcodeDemande().substr(31, labt.getcodeDemande().length)}}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.tabLangue.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>

    <table border="0" *ngFor="let labt of LabosF ">
      <tr (click)="gotPdf(labt)">
        <td rowspan="3">
          <img src='/android_asset/www/assets/img/pdfoff.png' class="roundedImage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td class="size">
          <strong>{{navParams.data.titleMed}}:</strong>{{ labt.getmedecinTraitant() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreExamen}} :</strong> <br/>{{ labt.getcodeDemande() }}
        </td>
      </tr>
      <tr (click)="gotPdf(labt)">
        <td class="size">
          <strong>{{navParams.data.titreDemande}} </strong>{{ labt.getdateDemande() }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>
</ion-content>
