page-examen-labo {
  #GlobalSigne{
    margin-right:-50px;

  }
  #GlobalSigne #gaucheSigne {
    float:left;
    width:60%;
  }
  #GlobalSigne #droiteSigne {
    margin-left:70%;

  }
  #GlobalTrait{
    margin-right:-50px;

  }
  #GlobalTrait #gaucheTrait {
    float:left;
    width:60%;
  }
  #GlobalTrait #droiteTrait {
    margin-left:70%;

  }
  .img{
    font-size: 50px;
  }
  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }
  .new-background {
    background-color: red;
  }

  .ion-navbar {
    height: -10px;
    background-color:#0277bd;
  }

  .td{
    padding-left: 2%;
  }
  .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;
    margin-top: 10px;
  }
  .first {
    width: 90px;
    float:left; /* add this */
    // border: 1px solid red;
  }
  .second {
    width: 200px;
    // border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }

  .strong{
    color: #0c60ee;
    font-size: 15px;
    line-height:5px;
  }

  .strong2{
    margin-top: 5px;
    font-size: 15px;
  }
  .size{
    font-size: 80%;
    padding-left: 2%;
  }
  #wrap:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap div {
    float: left;
    word-break: break-all;
  }
  #wrap2:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap2 div {
    float: left;
    word-break: break-all;
  }

  .oneFRANG {
    width: 15%;
    // background-color: red;

    //margin-top: 10px;
  }
  .threeFRANG {
    width: 40%;
    margin-top: 35px;
    direction: rtl;
  }
  .one {
    width: 40%;
    background-color: red;
    direction: ltr;
    margin-top: 35px;
  }
  .two {
    width: 15%;
    color: white;
    background-color: yellow;
  }
  .three {
    width: 45%;
    background-color: blue;
    margin-top: 5px;
    margin-right:0px;
  }
  .p{
    line-height:5px;
  }
  .md-card{
    margin-top: 0px;
    padding-top: 0px;
    background-color: #0277bd;
    height: 47px;
  }
  .md-card2 {
    margin-top: 0px;

    background-color: #0277bd;
    opacity: 0.9;
    height: 35px;
  }

  .imginfo {
    width: 45px;
    height: 45px;
    font-size: 54px;
    background: #00E676;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
  }
  .buttonBack {
    padding-top: 20px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

  }
}
