<ion-header class="headerListe" >
  <div fxLayout="row" fxLayoutAlign="start start" class="md-cardListe" *ngIf="langue==='francais' || langue==='anglais'">
    <div   *ngIf="connection===true"> <ion-avatar><img src="{{pathimage}}/green.png" width="30" height="30"></ion-avatar></div>
    <div   *ngIf="connection===false"> <ion-avatar><img src="{{pathimage}}/red.png" width="30" height="30"></ion-avatar></div>
    <div   fxFlex="73" *ngIf="connection===true"><strong>{{tabLangue.titreEnligne}} </strong>{{histc}}</div>&nbsp;&nbsp;
    <div   fxFlex="73" *ngIf="connection===false"><strong>{{tabLangue.titreHorsLigne}} </strong>{{histc}}</div>&nbsp;&nbsp;
  </div>

  <div fxLayout="row" fxLayoutAlign="end start" class="md-cardListe" *ngIf="langue==='arabe'">&nbsp;&nbsp;&nbsp;&nbsp;
    <div   fxFlex="73"  *ngIf="connection===true"  dir="rtl"><strong>{{tabLangue.titreEnligne}} </strong>{{histc}}</div>
    <div   fxFlex="73" *ngIf="connection===false" dir="rtl"><strong>{{tabLangue.titreHorsLigne}} </strong>{{histc}}</div>
    <div   *ngIf="connection===true" > <ion-avatar><img src="{{pathimage}}/green.png" width="30" height="30"></ion-avatar></div>&nbsp;&nbsp;
    <div   *ngIf="connection===false"> <ion-avatar><img src="{{pathimage}}/red.png" width="30" height="30"></ion-avatar></div>&nbsp;&nbsp;

  </div>

</ion-header>


<ion-content  >

  <div fxLayout="row" fxLayoutWrap>
    <div fxFlex="99" [ng2-highcharts]="chartData" class="courbe" ></div>
  </div>

</ion-content>
