page-dossier {
 .img{
   font-size: 50px;
 }
  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }
  .new-background {
    background-color: red;
  }
  td{
    padding-left: 2%;
  }
  .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:35px;
    height:35px;
  }

  .strong{
    color: #0c60ee;
  }
  .size{
    font-size: 80%;
  }
}
