page-dossier {
 .img{
   font-size: 50px;
 }
  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }
  .new-background {
    background-color: red;
  }
  .p{
    padding-left: 2%;
  }
  p{
    //padding-left: 0%;
    line-height:5px;

  }
  .size{
    font-size: 80%;
    width:50px;
    height:20px;
    padding-left: 3%;
  }

  h1{
    color:#0c60ee;
  }
  .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:15px;
    height:20px;
  }

}
