<ion-header class="ion-navbar">
  <ion-navbar color="custom-color" class="ion-navbar">

    <ion-list color="custom-color" *ngIf="langue==='arabe'"
              dir="rtl">
      <ion-item color="custom-color"></ion-item>
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p style="text-align: right">{{pass.getnom()}}</p>
        <p style="text-align: right"><strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
        </p>
      </ion-item>
      <ion-item color="custom-color"  *ngIf="connection===true">
        <p style="float: right;padding-right: 10px">
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p style="text-align: right" >{{tabLangue.titreEnligne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color"  *ngIf="connection===false">
        <p style="float: right;padding-right: 10px">
          <img src='/android_asset/www/assets/img/red.png' width="15" height="15">
        </p>
        <p style="text-align: right" >{{tabLangue.titreHorsLigne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color"></ion-item>
    </ion-list>

    <ion-list color="custom-color" *ngIf="langue==='francais' || langue==='anglais'">
      <ion-item color="custom-color"></ion-item>
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p>{{pass.getnom()}}</p>
        <p><strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
        </p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===true">
        <p style="float: left;padding-right: 10px">
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p>{{tabLangue.titreEnligne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===false">
        <p style="float: left;padding-right: 10px">
          <img src='/android_asset/www/assets/img/red.png' width="15" height="15">
        </p>
        <p>{{tabLangue.titreHorsLigne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color"></ion-item>
    </ion-list>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-navbar *ngIf="langue==='arabe'"
              dir="rtl">
    <md-card>
      <div *ngIf="test===true">
        <strong class="strong">
          {{tabLangue.titreMotif}}
        </strong>

        <p class="strong2" *ngFor="let m of motifh ">

          {{ m.getmotifhospitalisation()}}

        </p>
      </div>

      <div *ngIf="Ante===true">
        <strong class="strong">
          {{tabLangue.titreAnt}}
        </strong>


        <p class="strong2" *ngFor="let an of antechl ">

          {{an.getch()}}

        </p>
      </div>

      <div *ngIf="Alerg===true">
        <strong class="strong">
          {{tabLangue.titreAll}}
        </strong>

        <p class="strong2" *ngFor="let al of alechl ">

          {{al.getch()}}

        </p>
      </div>

      <div *ngIf="AlerteS===true">
        <strong class="strong">
          {{tabLangue.titreSigneV}}
        </strong>
        <p class="strong2" *ngFor="let sig of signec ">

          <strong>{{sig.getdesignation()}} : {{sig.getquantite()}}</strong> {{sig.getdate()}}

        </p>

      </div>


      <div *ngIf="Ent===true">
        <strong class="strong">
          {{tabLangue.titreEnt}}
        </strong>
        <p class="strong2" *ngFor="let en of Entrees ">

          <strong>{{en.getdesignation()}} : {{en.getquantite()}}</strong> {{en.getdate()}}

        </p>

      </div>


      <div *ngIf="trait===true">
        <strong class="strong">
          {{tabLangue.titreTrait}}
        </strong>
        <p class="strong2" *ngFor="let tra of traitement ">

          <strong>{{ tra.getdesignation() }}</strong><br/>
          {{ tra.getposologie() }} ({{ tra.getjour() }}) jours.

        </p>

      </div>


      <div *ngIf="Sor===true">
        <strong class="strong">
          {{tabLangue.titreSortie}}
        </strong>
        <p class="strong2" *ngFor="let so of Sorties ">

          <strong>{{so.getdesignation()}} : {{so.getquantite()}} </strong> {{so.getdate()}}

        </p>

      </div>

      <div *ngIf="AlerteSigneCliniqueTest===true">
        <strong class="strong">
          {{tabLangue.titreAlert}}
        </strong>
        <p class="strong2" *ngFor="let pas of signe ">

          <strong>{{pas.getdesignation()}}</strong> {{pas.getquantite()}} {{pas.getdate()}}

        </p>

      </div>
      <div *ngIf="His===true">
        <strong class="strong">
          {{tabLangue.titreMaladie}}
        </strong>
        <p class="strong2" *ngFor="let his of Histoiremaladie ">

          {{ his.getdetail() }}



        </p>
      </div>
      <div *ngIf="Exa===true">
        <strong class="strong">
          {{tabLangue.titreClini}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let exa of Examenclinique ">

          [{{ exa.getdate() }}-{{exa.getuserCreat()}}]<br/>
          {{ exa.getdetail() }}

        </p>
      </div>

      <div *ngIf="Evo===true">
        <strong class="strong">
          {{tabLangue.titreEvo}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let evo of Evolution ">

          {{ evo.getdetail()}}

        </p>
      </div>

      <div *ngIf="Ri===true">
        <strong class="strong">
          {{tabLangue.titreRegime}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let r of rigime ">

          {{ r.getdesignation() }}

        </p>
      </div>

      <div *ngIf="Con===true">
        <strong>
          {{tabLangue.titreConclu}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let con of Conclusion ">

          [{{ con.getdate() }}-{{con.getuserCreat()}}]<br/>
          {{ con.getdetail()}}

        </p>
      </div>
    </md-card>
  </ion-navbar>
  <ion-navbar *ngIf="langue==='francais' || langue==='anglais'">

    <md-card>
      <div *ngIf="test===true">
        <strong class="strong">
          {{tabLangue.titreMotif}}
        </strong>

        <p class="strong2" *ngFor="let m of motifh ">

          {{ m.getmotifhospitalisation()}}

        </p>
      </div>

      <div *ngIf="Ante===true">
        <strong class="strong">
          {{tabLangue.titreAnt}}
        </strong>


        <p class="strong2" *ngFor="let an of antechl ">

          {{an.getch()}}

        </p>
      </div>

      <div *ngIf="Alerg===true">
        <strong class="strong">
          {{tabLangue.titreAll}}
        </strong>

        <p class="strong2" *ngFor="let al of alechl ">

          {{al.getch()}}

        </p>
      </div>

      <div *ngIf="AlerteS===true">
        <strong class="strong">
          {{tabLangue.titreSigneV}}
        </strong>
        <p class="strong2" *ngFor="let sig of signec ">

          <strong>{{sig.getdesignation()}} : {{sig.getquantite()}}</strong> {{sig.getdate()}}

        </p>

      </div>


      <div *ngIf="Ent===true">
        <strong class="strong">
          {{tabLangue.titreEnt}}
        </strong>
        <p class="strong2" *ngFor="let en of Entrees ">

          <strong>{{en.getdesignation()}} : {{en.getquantite()}}</strong> {{en.getdate()}}

        </p>

      </div>


      <div *ngIf="trait===true">
        <strong class="strong">
          {{tabLangue.titreTrait}}
        </strong>
        <p class="strong2" *ngFor="let tra of traitement ">

          <strong>{{ tra.getdesignation() }}</strong><br/>
          {{ tra.getposologie() }} ({{ tra.getjour() }}) jours.

        </p>

      </div>


      <div *ngIf="Sor===true">
        <strong class="strong">
          {{tabLangue.titreSortie}}
        </strong>
        <p class="strong2" *ngFor="let so of Sorties ">

          <strong>{{so.getdesignation()}} : {{so.getquantite()}} </strong> {{so.getdate()}}

        </p>

      </div>

      <div *ngIf="AlerteSigneCliniqueTest===true">
        <strong class="strong">
          {{tabLangue.titreAlert}}
        </strong>
        <p class="strong2" *ngFor="let pas of signe ">

          <strong>{{pas.getdesignation()}}</strong> {{pas.getquantite()}} {{pas.getdate()}}

        </p>

      </div>
      <div *ngIf="His===true">
        <strong class="strong">
          {{tabLangue.titreMaladie}}
        </strong>
        <p class="strong2" *ngFor="let his of Histoiremaladie ">

          {{ his.getdetail() }}



        </p>
      </div>
      <div *ngIf="Exa===true">
        <strong class="strong">
          {{tabLangue.titreClini}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let exa of Examenclinique ">

          [{{ exa.getdate() }}-{{exa.getuserCreat()}}]<br/>
          {{ exa.getdetail() }}

        </p>
      </div>

      <div *ngIf="Evo===true">
        <strong class="strong">
          {{tabLangue.titreEvo}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let evo of Evolution ">

          {{ evo.getdetail()}}

        </p>
      </div>

      <div *ngIf="Ri===true">
        <strong class="strong">
          {{tabLangue.titreRegime}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let r of rigime ">

          {{ r.getdesignation() }}

        </p>
      </div>

      <div *ngIf="Con===true">
        <strong>
          {{tabLangue.titreConclu}}
        </strong>
        <p></p>
        <p class="strong2" *ngFor="let con of Conclusion ">

          [{{ con.getdate() }}-{{con.getuserCreat()}}]<br/>
          {{ con.getdetail()}}

        </p>
      </div>
    </md-card>
  </ion-navbar>


</ion-content>
