<ion-header  style="background-color:whitesmoke">

  <IMG src="/android_asset/www/assets/img/profil.jpg" height="85" width="5000">
  <IMG src="/android_asset/www/assets/img/{{patient.getimg()}}" class="img">

  <ion-navbar hideBackButton="true" *ngIf="langue==='francais' || langue==='anglais'">
    <p></p>
    <p style="text-align:center;color: black;"><strong>{{patient.getnom()}} {{patient.getprenom()}} {{patient.getage()}}
      ({{tabLangue.titreAns}})</strong></p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreDateNaiss}}: </strong>{{client.getdatNai()}}
      <strong>{{tabLangue.titreNationalite}}: </strong>{{client.getlibNat()}}</p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreAdr}}: </strong>{{client.getadrCli()}}
      <strong>{{tabLangue.titreTel}}: </strong>{{client.getnumTel()}}</p>
  </ion-navbar>
  <ion-navbar hideBackButton="true" *ngIf="langue==='arabe'" dir="rtl">
    <p></p>
    <p style="text-align:center;color: black;"><strong>{{patient.getnom()}} {{patient.getprenom()}} {{patient.getage()}}
      ({{tabLangue.titreAns}})</strong></p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreDateNaiss}}: </strong>{{client.getdatNai()}}
      <strong>{{tabLangue.titreNationalite}}: </strong>{{client.getlibNat()}}</p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreAdr}}: </strong>{{client.getadrCli()}}
      <strong>{{tabLangue.titreTel}}: </strong>{{client.getnumTel()}}</p>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="langue==='arabe'" dir="rtl">
  <ion-list  style="margin-top:120px; background-color:whitesmoke;">
    <p><img src="/android_asset/www/assets/img/chamb.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreChambre}}:</strong><strong> {{client.getnumCha()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/etage.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreEtage}}: </strong><strong>{{client.getetage()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/calendarin.png" width="15" height="15">
      <strong style="color: #0D47A1 ">{{tabLangue.titreDateAdmission}}: </strong><strong>{{client.getdateArr()}}</strong>
    </p>
    <p><img src="/android_asset/www/assets/img/numdoss.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreNumDoss}}: </strong><strong>{{client.getnumdoss()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/idcard.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreIdentifiant}}: </strong><strong>{{client.getidentifiant()}}</strong>
    </p>
  </ion-list>
  <ion-list >
    <p><img src="/android_asset/www/assets/img/sang.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreGroupeSanguim}}: </strong>{{motif.getgroupeSang()}}
    </p>
    <p><img src="/android_asset/www/assets/img/poid.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titrePoid}}: </strong>{{motif.getpoid()}}
    </p>
    <p><img src="/android_asset/www/assets/img/taille.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreTaille}}: </strong>{{motif.gettaille()}}
    </p>
  </ion-list>
  <ion-list style="background-color:whitesmoke;">

    <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titleMed}}: </strong></p>
    <div *ngFor="let med of medecinList ">
      <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
        <strong>{{med.getnomMed().substr(7,(med.getnomMed().length))}}</strong> {{med.getdesignationSpecialite()}}
      </p>
    </div>
  </ion-list>


</ion-content>
<ion-content padding *ngIf="langue==='francais' || langue==='anglais'">
  <ion-list  style="margin-top:120px; background-color:whitesmoke;">
    <p><img src="/android_asset/www/assets/img/chamb.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreChambre}}:</strong><strong> {{client.getnumCha()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/etage.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreEtage}}: </strong><strong>{{client.getetage()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/calendarin.png" width="15" height="15">
      <strong style="color: #0D47A1 ">{{tabLangue.titreDateAdmission}}: </strong><strong>{{client.getdateArr()}}</strong>
    </p>
    <p><img src="/android_asset/www/assets/img/numdoss.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreNumDoss}}: </strong><strong>{{client.getnumdoss()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/idcard.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreIdentifiant}}: </strong><strong>{{client.getidentifiant()}}</strong>
    </p>
  </ion-list>
  <ion-list >
    <p><img src="/android_asset/www/assets/img/sang.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreGroupeSanguim}}: </strong>{{motif.getgroupeSang()}}
    </p>
    <p><img src="/android_asset/www/assets/img/poid.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titrePoid}}: </strong>{{motif.getpoid()}}
    </p>
    <p><img src="/android_asset/www/assets/img/taille.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreTaille}}: </strong>{{motif.gettaille()}}
    </p>
  </ion-list>
  <ion-list style="background-color:whitesmoke;">

    <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titleMed}}: </strong></p>
    <div *ngFor="let med of medecinList ">
      <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
        <strong>{{med.getnomMed().substr(7,(med.getnomMed().length))}}</strong> {{med.getdesignationSpecialite()}}
      </p>
    </div>
  </ion-list>


</ion-content>
