
<ion-header *ngFor="let cl of clientList " style="background-color:whitesmoke">

  <IMG src="/android_asset/www/assets/img/profil.jpg" height="85" width="5000">
  <IMG src="/android_asset/www/assets/img/{{image}}" class="img">

  <ion-navbar *ngIf="langue==='francais' || langue==='anglais'">
    <p></p>
    <p style="text-align:center;color: black;"><strong>{{nom}} {{prenom}} ({{age}} {{tabLangue.titreAns}})</strong></p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreDateNaiss}}: </strong>{{cl.getdatNai()}}
      <strong>{{tabLangue.titreNationalite}}: </strong>{{cl.getlibNat()}}</p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreAdr}}: </strong>{{cl.getadrCli()}}
      <strong>{{tabLangue.titreTel}}: </strong>{{cl.getnumTel()}}</p>
  </ion-navbar>
  <ion-navbar *ngIf="langue==='arabe'" dir="rtl">
    <p></p>
    <p style="text-align:center;color: black;"><strong>{{nom}} {{prenom}} ({{age}} ans)</strong></p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreDateNaiss}}: </strong>{{cl.getdatNai()}}
      <strong>{{tabLangue.titreNationalite}}: </strong>{{cl.getlibNat()}}</p>
    <p style="text-align:center;color: black;"><strong>{{tabLangue.titreAdr}}: </strong>{{cl.getadrCli()}}
      <strong>{{tabLangue.titreTel}}: </strong>{{cl.getnumTel()}}</p>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="langue==='arabe'" dir="rtl">
  <ion-list *ngFor="let cl of clientList " style="margin-top:100px; background-color:whitesmoke;">
    <p><img src="/android_asset/www/assets/img/chamb.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreChambre}}:</strong><strong> {{cl.getnumCha()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/etage.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreEtage}}: </strong><strong>{{cl.getetage()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/calendarin.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreDateAdmission}}: </strong><strong></strong></p>
    <p><img src="/android_asset/www/assets/img/numdoss.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreNumDoss}}: </strong><strong>{{cl.getnumdoss()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/idcard.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreIdentifiant}}: </strong><strong>{{cl.getidentifiant()}}</strong></p>
  </ion-list>
  <ion-list>
    <ion-item>

    </ion-item>
  </ion-list>
<ion-list *ngFor="let moti of motif ">
<p><img src="/android_asset/www/assets/img/sang.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreGroupeSanguim}}: </strong>{{moti.getgroupeSang()}} </p>
<p><img src="/android_asset/www/assets/img/poid.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titrePoid}}: </strong>{{moti.getpoid()}} </p>
<p><img src="/android_asset/www/assets/img/taille.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreTaille}}: </strong>{{moti.gettaille()}} </p>
</ion-list>
  <ion-list style="background-color:whitesmoke;">

    <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titleMed}}: </strong></p>
    <div *ngFor="let med of medecinList ">
      <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
        <strong>{{med.getnomMed().substr(7,(med.getnomMed().length))}}</strong> {{med.getdesignationSpecialite()}}
      </p>
    </div>
  </ion-list>



</ion-content>
<ion-content padding *ngIf="langue==='francais' || langue==='anglais'">
  <ion-list *ngFor="let cl of clientList " style="margin-top:100px; background-color:whitesmoke;">
    <p><img src="/android_asset/www/assets/img/chamb.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreChambre}}:</strong><strong> {{cl.getnumCha()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/etage.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreEtage}}: </strong><strong>{{cl.getetage()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/calendarin.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreDateAdmission}}: </strong><strong></strong></p>
    <p><img src="/android_asset/www/assets/img/numdoss.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreNumDoss}}: </strong><strong>{{cl.getnumdoss()}}</strong></p>
    <p><img src="/android_asset/www/assets/img/idcard.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titreIdentifiant}}: </strong><strong>{{cl.getidentifiant()}}</strong></p>
  </ion-list>
  <ion-list *ngFor="let moti of motif ">
    <p><img src="/android_asset/www/assets/img/sang.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreGroupeSanguim}}: </strong>{{moti.getgroupeSang()}} </p>
    <p><img src="/android_asset/www/assets/img/poid.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titrePoid}}: </strong>{{moti.getpoid()}} </p>
    <p><img src="/android_asset/www/assets/img/taille.png" width="15" height="15"> <strong style="color: #0D47A1">{{tabLangue.titreTaille}}: </strong>{{moti.gettaille()}} </p>
  </ion-list>
  <ion-list style="background-color:whitesmoke;">

    <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
      <strong style="color: #0D47A1">{{tabLangue.titleMed}}: </strong></p>
    <div *ngFor="let med of medecinList ">
      <p><img src="/android_asset/www/assets/img/doc.png" width="15" height="15">
        <strong>{{med.getnomMed().substr(7,(med.getnomMed().length))}}</strong> {{med.getdesignationSpecialite()}}
      </p>
    </div>
  </ion-list>



</ion-content>
