page-traitment-courbe {
  .scroll-content {
    background-color: map-get($colors, light);
  }

  ion-card-header {
    font-weight: bold;
  }

  .headerListe {
    height: 40px;
    color: white;
  }
  .md-cardListe {
    margin-top: 0px;
    padding-top: 0px;
    background-color: #0277bd;
    height: 50px;
  }
  .menuImg {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .courbe {
    display: table-cell;
    position: absolute;
    width: 100%;
    height: 100%;
  }

}
