<ion-content>
  <div padding id="cloud-layer" *ngIf="langue==='arabe'" dir="rtl">

    <ion-row>
      <ion-col class="animated fadeInUp">
        <img src="{{pathimage}}/clinisys.png"/>
      </ion-col>
    </ion-row>
    <p>{{mess}}</p>
    <p>{{err}}</p>
    <p>{{errConn}}</p>
    <md-card class="animated fadeInUp">
      <ion-input type="text" #login placeholder="{{tabLangue.nomUtili}}"
                 required="true" class=" ion-item"></ion-input>
      <ion-input type="password" #password placeholder="{{tabLangue.mo2pass}}"
                 required="true" class=" ion-item"></ion-input>
      <button ion-button class="login-button" (click)="connecter(login.value,password.value)">
        {{tabLangue.login}}
      </button>
  <!--    <button (click)="conn()">Connecter</button>-->
    </md-card>

  </div>
  <div padding id="cloud-layer2" *ngIf="langue==='francais' || langue==='anglais'">

    <ion-row>
      <ion-col class="animated fadeInUp">
        <img src="{{pathimage}}/clinisys.png"/>
      </ion-col>
    </ion-row>
    <p>{{mess}}</p>
    <p>{{err}}</p>
    <p>{{errConn}}</p>
    <md-card class="animated fadeInUp">
      <ion-input type="text" #login placeholder="{{tabLangue.nomUtili}}"
                 required="true" class=" ion-item"></ion-input>
      <ion-input type="password" #password placeholder="{{tabLangue.mo2pass}}"
                 required="true" class=" ion-item"></ion-input>
      <button ion-button class="login-button" (click)="connecter(login.value,password.value)">
        {{tabLangue.login}}
      </button>
  <!--    <button (click)="conn()">Connecter</button>-->
    </md-card>

  </div>
</ion-content>
