<input type="hidden" value="{{this.navParams.get('langue')}}" #lang/>
<ion-content>
  <div padding id="cloud-layer" *ngIf="(lang.value)==='arabe'" dir="rtl">

    <ion-row>
      <ion-col class="animated fadeInUp">
        <img src="/android_asset/www/assets/img/clinisys.png"/>
      </ion-col>
    </ion-row>
    <p>{{mess}}</p>
    <p>{{err}}</p>
    <p>{{errConn}}</p>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="animated fadeInUp">
            <ion-input type="text" #login placeholder="{{navParams.data.tabLangue.nomUtili}}"
                       required="true"></ion-input>
          </ion-item>
          <ion-item class="animated fadeInUp">
            <ion-input type="password" #password placeholder="{{navParams.data.tabLangue.mo2pass}}"
                       required="true"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="animated fadeInUp">
        <button ion-button class="login-button" (click)="connecter(login.value,password.value)">
          {{navParams.data.tabLangue.login}}
        </button>
        <button (click)="conn()">Connecter</button>
        <button (click)="checkNetwork()">Check Network</button>
        <div></div>
        <button (click)="doesConnectionExist()">Try it</button>
      </ion-col>
    </ion-row>
  </div>
  <div padding id="cloud-layer2" *ngIf="(lang.value)==='francais' || (lang.value)==='anglais'">

    <ion-row>
      <ion-col class="animated fadeInUp">
        <img src="/android_asset/www/assets/img/clinisys.png"/>
      </ion-col>
    </ion-row>
    <p>{{err}}</p>
    <p>{{errConn}}</p>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="animated fadeInUp">
            <ion-input type="text" #login placeholder="{{navParams.data.tabLangue.nomUtili}}"
                       required="true"></ion-input>
          </ion-item>
          <ion-item class="animated fadeInUp">
            <ion-input type="password" #password placeholder="{{navParams.data.tabLangue.mo2pass}}"
                       required="true"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="animated fadeInUp">
        <button ion-button class="login-button" (click)="connecter(login.value,password.value)">
          {{navParams.data.tabLangue.login}}
        </button>
        <button (click)="conn()">Connecter</button>
        <button (click)="checkNetwork()">Check Network</button>
        <div></div>
        <button (click)="doesConnectionExist()">Try it</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
