<ion-header>
  <ion-item color="custom-color">

    <IMG class="displayed" src="/android_asset/www/assets/img/clinisys.png">
  </ion-item>


  <ion-navbar hideBackButton="true">

    <ion-title style="text-align: center">{{tabLangue.listeClinique}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="langue==='arabe'" dir="rtl">


  <ul *ngFor="let clini of clinique ">

    <li (click)="goToHomePage(clini)">
      {{clini.getnom()}}
    </li>
  </ul>

</ion-content>

<ion-content padding *ngIf="langue==='francais' || langue==='anglais'">


  <ul *ngFor="let clini of clinique ">

    <li (click)="goToHomePage(clini)">
      {{clini.getnom()}}
    </li>
  </ul>

</ion-content>
