<ion-header>
  <ion-item color="custom-color">

    <IMG class="displayed" src="/android_asset/www/assets/img/clinisys.png">
  </ion-item>


  <ion-navbar hideBackButton="true">

    <ion-title style="text-align: center">{{tabLangue.listeClinique}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="langue==='arabe'" dir="rtl">

  <div *ngIf="test===true">
    <ul *ngFor="let cliniq of cliniqueact" style="margin-right: -10px;">

      <li (click)="goToHomePage(cliniq)" style="margin-right: -10px;">
        {{cliniq.getnom()}}
      </li>
    </ul>
    <p style="color:#5bc0de;"> {{tabLangue.titreAutreCliniques}}</p>
  </div>

  <ul *ngFor="let clini of cliniqueaut " style="margin-right: -10px;">

    <li (click)="goToHomePage(clini)" style="margin-right: -10px;">
      {{clini.getnom()}}
    </li>
  </ul>
</ion-content>

<ion-content padding *ngIf="langue==='francais' || langue==='anglais'">

  <div *ngIf="test===true">
    <ul *ngFor="let cliniq of cliniqueact" style="margin-left: -10px;">

      <li (click)="goToHomePage(cliniq)" style="margin-left: -10px;">
        {{cliniq.getnom()}}
      </li>
    </ul>
    <p style="color:#0c60ee;font-size:15px "> {{tabLangue.titreAutreCliniques}}</p>
  </div>

  <ul *ngFor="let clini of cliniqueaut " style="margin-left: -10px;">

    <li (click)="goToHomePage(clini)" style="margin-left: -10px;">
      {{clini.getnom()}}
    </li>
  </ul>
</ion-content>
