// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  custom-color: #0277bd
);
$tabs-md-tab-icon-size:3.8rem ;
$badge-md-background-color:color($colors,danger);
$modal-inset-height-large:100px;

$toast-max-width:( 80%);
$toast-md-background:(#42A5F5);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


@import
  // directives
"directives/md-label.scss",

  // elements
"elements/bar-header-expanded.scss",
"elements/bar.scss",
"elements/button-bar.scss",
"elements/button-fab.scss",
"elements/button-floating.scss",
"elements/button.scss",
"elements/card.scss",
"elements/hero.scss",
"elements/item.scss",
"elements/list.scss",
"elements/loading.scss",
"elements/login.scss",
"elements/mask.scss",
"elements/menu.scss",
"elements/motion-elements.scss",

  // helpers
"helpers/utilities.scss",

  // motion
"motion/blinds.scss",
"motion/pan-in-left.scss",
"motion/ripple.scss",
"motion/slide-fade-in.scss",
"motion/slide-in-right.scss",
"motion/slide-up.scss",

  // overrides
"overrides/ink.scss",
"overrides/ionic.scss";
