page-try {
  .size{
    font-size: 80%;

  }
  .md-icon-buttonArr{
    float: left;
    background-color: #0277bd;
  }
  .md-icon-button{
    float: right;
    background-color: #0277bd;
  }
  .md-card{
    background-color:#0277bd;
    color:white;
  }
  .item-avatar  {
    width:15% !important;
    height : 15% !important;
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
  }
  .md-button.md-icon-button {
    margin: 0 0.6rem;
    height: 4.8rem;
    min-width: 0;
    line-height: 4.8rem;
    padding-left: 0;
    padding-right: 0;
    width: 4.8rem;
    text-align: center;
  }
}
