.windows, .android, .ios, .md {
  page-app {
    .headerTitleMenu {
      font-size: 20px;
      text-align: center;
      color: black;
      position: relative;
      z-index: 2;
      text-align: center;
      background-color:transparent;
    }

    .contentMenu {
      position: relative;
      display: block;
      background-color: whitesmoke;
    }


    .headerBackgroundMenu {
      z-index: 1;
      opacity: 0.6;
    }
  }
}
