<ion-header style="height: 83px;color: white" >
  <div fxLayout="row" fxLayoutAlign="start start" class="md-card" *ngIf="langue==='francais' || langue==='anglais'">
    <div  icon-only class="buttonBack" (click)="goBack()" *ngIf="device===63" >
      <ion-icon name='arrow-back' ></ion-icon>
    </div>
    <div><img src="{{pathimage}}/{{pass.getimg()}}" class="imginfo" ></div>
    &nbsp;&nbsp;
    <div fxFlex="{{device}}" style="margin-top: 10px;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong style="padding-left: 5px">{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    &nbsp;&nbsp;

    <div><img src="{{pathimage}}/info.png" class="roundedImage" (click)="goToInfPage()"></div>
  </div>


  <div fxLayout="row" fxLayoutAlign="start start" class="md-card2" *ngIf="langue==='francais' || langue==='anglais'">
    <div *ngIf="connection===true">
      <ion-avatar style="padding-top: 5px"><img src="{{pathimage}}/green.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div *ngIf="connection===false">

      <ion-avatar style="padding-top: 5px"><img src="{{pathimage}}/red.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div  *ngIf="connection===true" style="padding-top: 10px;font-size: 12px;width: 100%"><span ><strong>{{tabLangue.titreEnligne}} </strong>{{histd}}</span></div>
    &nbsp;&nbsp;
    <div *ngIf="connection===false" style="padding-top: 10px;font-size: 12px;width: 100%">

      <span ><strong>{{tabLangue.titreHorsLigne}} </strong>{{histd}}</span></div>
    &nbsp;&nbsp;

  </div>

  <div fxLayout="row" fxLayoutAlign="end start" *ngIf="langue==='arabe'" class="md-card">
    <div dir="rtl"><img src="{{pathimage}}/info.png" class="roundedImage" (click)="goToInfPage()"></div>
    &nbsp;&nbsp;
    <div fxFlex="{{device}}" style="margin-top: 10px; direction:rtl;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong style="padding-right: 5px">{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    &nbsp;&nbsp;

    <div><img src="{{pathimage}}/{{pass.getimg()}}" class="imginfo" ></div>
    <div  icon-only class="buttonBack" (click)="goBack()" *ngIf="device===63" >
      <ion-icon name='arrow-forward' ></ion-icon>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end start" class="md-card2" *ngIf="langue==='arabe'">
    <div style="padding-top: 10px;font-size: 12px ;width: 100%" dir="rtl" *ngIf="connection===true"><strong>{{tabLangue.titreEnligne}} </strong>{{histd}}</div>
    &nbsp;&nbsp;
    <div style="padding-top: 10px;font-size: 12px;width: 100%" dir="rtl" *ngIf="connection===false"><strong>{{tabLangue.titreHorsLigne}} </strong>{{histd}}
    </div>
    &nbsp;&nbsp;
    <div style="padding-top: 5px" *ngIf="connection===true">
      <ion-avatar ><img src="{{pathimage}}/green.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div style="padding-top: 5px" *ngIf="connection===false">
      <ion-avatar><img src="{{pathimage}}/red.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;

  </div>
</ion-header>

<ion-content>
  <div fxLayout="row" fxLayoutWrap *ngFor="let LP of ListeP ">
    <div fxFlex="5" *ngIf="langue==='francais' || langue==='anglais'" margin-top="10">
      <img src="{{pathimage}}/valid.png" width="20" height="20">

    </div>
    <div fxFlex="94" *ngIf="langue==='francais' || langue==='anglais'" margin-top="10">
      <strong style="color: #0f7ec0 ">{{tabLangue.titreAct}}: </strong> {{LP.getacte()}}<br/>
      <strong style="color: #0f7ec0 "> {{tabLangue.titreChi}}:</strong> {{LP.getchirurgien()}}<br/>
      <strong style="color: #0f7ec0 "> {{tabLangue.titreDateAct}}: </strong>{{LP.getdateacte()}}<br/>
      <strong style="color: #0f7ec0 "> {{tabLangue.titreHeureDeb}}:</strong> {{LP.getheureDebut()}}
      <strong style="color: #0f7ec0 "> {{tabLangue.titreHeureF}}:</strong> {{LP.getheureFin()}}<br/>

      <strong style="color: #0f7ec0 "> KC:</strong> {{LP.getkc()}}<br/>

    </div>

  </div>

  <div fxLayout="row" fxLayoutWrap *ngFor="let LP of ListeP ">

    <div fxFlex="94" *ngIf="langue==='arabe'" dir="rtl" margin-top="10">
      <strong style="color: #0f7ec0 ">{{tabLangue.titreAct}}: </strong> {{LP.getacte()}}<br/>
      <strong style="color: #0f7ec0 "> {{tabLangue.titreChi}}:</strong> {{LP.getchirurgien()}}<br/>
      <strong style="color: #0f7ec0 "> {{tabLangue.titreDateAct}}: </strong>{{LP.getdateacte()}}<br/>
      <strong style="color: #0f7ec0 "> {{tabLangue.titreHeureDeb}}:</strong> {{LP.getheureDebut()}}
      <strong style="color: #0f7ec0 "> {{tabLangue.titreHeureF}}:</strong> {{LP.getheureFin()}}<br/>

      <strong style="color: #0f7ec0 "> KC:</strong> {{LP.getkc()}}<br/>

    </div>
    <div fxFlex="5" *ngIf="langue==='arabe'" dir="rtl" margin-top="10">
      <img  src="{{pathimage}}/valid.png" width="20" height="20">

    </div>
  </div>


</ion-content>
