page-list-preanesthesie {
  .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:30px;
    height:30px;
  }
  .size{
    font-size: 80%;
  }
  .ion-navbar{
    height: 120px !important;
  }
  #wrap:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap div {
    float: left;
    word-break: break-all;
  }
  #wrap2:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap2 div {
    float: left;
    word-break: break-all;
  }

  .oneFRANG {
    width: 15%;
    // background-color: red;

    //margin-top: 10px;
  }
  .threeFRANG {
    width: 40%;
    margin-top: 35px;
    direction: rtl;
  }
  .one {
    width: 40%;
    // background-color: red;
    direction: ltr;
    margin-top: 35px;
  }
  .two {
    width: 45%;
    color: white;
    // background-color: yellow;
  }
  .three {
    width: 15%;
    //  background-color: blue;

  }
}
