page-list-preanesthesie {
  .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:30px;
    height:30px;
  }
  .size{
    font-size: 80%;
  }
  .ion-navbar{
    height: 120px !important;
  }
}
