<ion-header  class="ion-navbar">
  <ion-navbar color="custom-color" class="ion-navbar">
    <ion-list color="custom-color" *ngIf="langue==='arabe'"
              dir="rtl">
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p style="text-align: right">{{pass.getnom()}}</p>
        <p style="text-align: right"><strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}</p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===true">
        <p item-right>
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p style="text-align: right">{{tabLangue.titreEnligne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===false">
        <p item-right>
          <img src='/android_asset/www/assets/img/red.png' width="15" height="15">
        </p>
        <p style="text-align: right">{{tabLangue.titreHorsLigne}}<br/> {{histd}}</p>
      </ion-item>
    </ion-list>

    <ion-list color="custom-color" *ngIf="langue==='francais' || langue==='anglais'">
      <ion-item color="custom-color">
        <ion-avatar item-left>
          <img src='/android_asset/www/assets/img/{{pass.getimg()}}'>
        </ion-avatar>
        <ion-avatar item-right>
          <img src='/android_asset/www/assets/img/i.jpg'>
        </ion-avatar>
        <p>{{pass.getnom()}}</p>
        <p><strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}</p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===true">
        <p item-left>
          <img src='/android_asset/www/assets/img/green.png' width="15" height="15">
        </p>
        <p>{{tabLangue.titreEnligne}}<br/> {{histd}}</p>
      </ion-item>
      <ion-item color="custom-color" *ngIf="connection===false">
        <p item-left>
          <img src='/android_asset/www/assets/img/red.png' width="15" height="15">
        </p>
        <p>{{tabLangue.titreHorsLigne}}<br/> {{histd}}</p>
      </ion-item>
    </ion-list>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-navbar *ngIf="langue==='arabe'"
  dir="rtl">
    <table border="0" *ngFor="let LP of ListeP ">
      <tr (click)="openURL(labt.getnumAdmission())">
        <td>
          <img src='/android_asset/www/assets/img/valid.png' class="roundedImage">
        </td>
        <td class="size">
          <strong>{{tabLangue.titreAct}}: </strong> {{LP.getacte()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreChi}}:</strong> {{LP.getchirurgien()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreDateAct}}: </strong>{{LP.getdateacte()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreHeureDeb}}:</strong> {{LP.getheureDebut()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreHeureF}}:</strong> {{LP.getheureFin()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> KC:</strong> {{LP.getkc()}}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>

  <ion-navbar *ngIf="langue==='francais' || langue==='anglais'">
    <table border="0" *ngFor="let LP of ListeP ">
      <tr (click)="openURL(labt.getnumAdmission())">
        <td>
          <img src='/android_asset/www/assets/img/valid.png' class="roundedImage">
        </td>
        <td class="size">
          <strong>{{tabLangue.titreAct}}: </strong> {{LP.getacte()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreChi}}:</strong> {{LP.getchirurgien()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreDateAct}}: </strong>{{LP.getdateacte()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreHeureDeb}}:</strong> {{LP.getheureDebut()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> {{tabLangue.titreHeureF}}:</strong> {{LP.getheureFin()}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="size">
          <strong> KC:</strong> {{LP.getkc()}}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
    </table>
  </ion-navbar>
</ion-content>
