<ion-header style="height: 93px;color: white">

  <div fxLayout="row" fxLayoutAlign="start start" class="md-card" *ngIf="langue==='francais' || langue==='anglais'">
    <div><img src="{{pathimage}}/{{pass.getimg()}}" width="40" height="40"></div>
    &nbsp;&nbsp;
    <div fxFlex="73" style="margin-top: 10px;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    &nbsp;&nbsp;

    <div><img src="{{pathimage}}/info.png" class="roundedImage" (click)="goToInfPage()"></div>
  </div>


  <div fxLayout="row" fxLayoutAlign="start start" class="md-card2" *ngIf="langue==='francais' || langue==='anglais'">
    <div *ngIf="connection===true">
      <ion-avatar ><img src="{{pathimage}}/green.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div *ngIf="connection===false">

      <ion-avatar><img src="{{pathimage}}/red.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div  *ngIf="connection===true"><span ><strong>{{tabLangue.titreEnligne}} </strong>{{histd}}</span></div>
    &nbsp;&nbsp;
    <div *ngIf="connection===false">

      <span ><strong>{{tabLangue.titreHorsLigne}} </strong>{{histd}}</span></div>
    &nbsp;&nbsp;

  </div>

  <div fxLayout="row" fxLayoutAlign="end start" *ngIf="langue==='arabe'" class="md-card">
    <div dir="rtl"><img src="{{pathimage}}/info.png" class="roundedImage" (click)="goToInfPage()"></div>
    &nbsp;&nbsp;
    <div fxFlex="73" style="margin-top: 10px; direction:rtl;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    &nbsp;&nbsp;

    <div><img src="{{pathimage}}/{{pass.getimg()}}" width="40" height="40"></div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end start" class="md-card2" *ngIf="langue==='arabe'">
    <div margin-top="-3" dir="rtl" *ngIf="connection===true"><strong>{{tabLangue.titreEnligne}} </strong>{{histd}}</div>
    &nbsp;&nbsp;
    <div margin-top="-3" dir="rtl" *ngIf="connection===false"><strong>{{tabLangue.titreHorsLigne}} </strong>{{histd}}
    </div>
    &nbsp;&nbsp;
    <div margin-top="-3" *ngIf="connection===true">
      <ion-avatar><img src="{{pathimage}}/green.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div margin-top="-3" *ngIf="connection===false">
      <ion-avatar><img src="{{pathimage}}/red.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;

  </div>

</ion-header>


<ion-content padding>

</ion-content>
