<ion-header>
  <ion-item class="ion-item" color="custom-color">
    <IMG class="displayed" src="{{pathimage}}/clinisys.png">
  </ion-item>


  <ion-navbar hideBackButton="true">

    <ion-title style="text-align: center">{{lan}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list radio-group *ngIf="lan==='Langues' || lan==='Languages'">
    <ion-item>
      <ion-label>{{fr}}</ion-label>
      <ion-radio #francais value="francais" checked (click)="choixLang(francais.value)"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>{{ang}}</ion-label>
      <ion-radio #anglais value="anglais" (click)="choixLang(anglais.value)"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>{{ar}}</ion-label>
      <ion-radio #arabe value="arabe" [disabled]="isDisabled" (click)="choixLang(arabe.value)"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list radio-group *ngIf="lan==='اللغات'">
    <ion-item dir="rtl">
      <ion-label fxFlex="20">{{fr}}</ion-label>
      <ion-radio #francais value="francais" checked (click)="choixLang(francais.value)"></ion-radio>

    </ion-item>
    <ion-item dir="rtl">
      <ion-label fxFlex="20">{{ang}}</ion-label>
      <ion-radio #anglais value="anglais" (click)="choixLang(anglais.value)"></ion-radio>

    </ion-item>
    <ion-item dir="rtl">
      <ion-label fxFlex="20">{{ar}}</ion-label>
      <ion-radio #arabe value="arabe" [disabled]="isDisabled" (click)="choixLang(arabe.value)"></ion-radio>

    </ion-item>
  </ion-list>

</ion-content>
