page-pdf-view {
  .scroll-content {
    background-color: map-get($colors, light);
  }

  ion-card-header {
    font-weight: bold;
  }

  .headerListe {
    height: 40px;
    color: white;
  }
  .md-cardListe {
    margin-top: 0px;
    padding-top: 0px;
    background-color: #0277bd;
    height: 50px;
  }
  .menuImg {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .buttonBack {
    padding-top: 10px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

  }
  .button {
    height: 30px;
    margin: 5px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    background-image: -webkit-linear-gradient(transparent, transparent);
    text-align: center;
    color: black;
    font-weight: bold;
  }
}
