<ion-header class="headerListe" >

  <div fxLayout="row" fxLayoutAlign="start start" class="md-cardListe" *ngIf="langue==='francais' || langue==='anglais'">
    <div  icon-only class="buttonBack" (click)="goBack()" *ngIf="device===63" >
      <ion-icon name='arrow-back' ></ion-icon>
    </div>
    <div *ngIf="connection===true"> <ion-avatar><img src="{{pathimage}}/green.png" width="30" height="30"></ion-avatar></div>
    <div *ngIf="connection===false"> <ion-avatar><img src="{{pathimage}}/red.png" width="30" height="30"></ion-avatar></div>
    <div style="padding-top: 5px" fxFlex="73" style="font-size: 15px;width: 100%" *ngIf="connection===true"><strong>{{tabLangue.titreEnligne}} </strong>{{histp}}</div>&nbsp;&nbsp;
    <div style="padding-top: 5px" fxFlex="73" style="font-size: 15px;width: 100%" *ngIf="connection===false"><strong>{{tabLangue.titreHorsLigne}} </strong>{{histp}}</div>&nbsp;&nbsp;
  </div>

  <div fxLayout="row" fxLayoutAlign="end start" class="md-cardListe" *ngIf="langue==='arabe'">&nbsp;&nbsp;
    <div   style="padding-right:5px;padding-top: 10px;font-size: 15px;width: 100%" fxFlex="73"  *ngIf="connection===true"  dir="rtl"><strong>{{tabLangue.titreEnligne}} </strong>{{histp}}</div>
    <div   style="padding-right:5px;padding-top: 10px;font-size: 15px;width: 100%" fxFlex="73" *ngIf="connection===false" dir="rtl"><strong>{{tabLangue.titreHorsLigne}} </strong>{{histp}}</div>
    <div style="padding-top: 5px" *ngIf="connection===true" > <ion-avatar><img src="{{pathimage}}/green.png" width="30" height="30"></ion-avatar></div>&nbsp;&nbsp;
    <div style="padding-top: 5px" *ngIf="connection===false"> <ion-avatar><img src="{{pathimage}}/red.png" width="30" height="30"></ion-avatar></div>&nbsp;&nbsp;
    <div  icon-only class="buttonBack" (click)="goBack()" *ngIf="device===63" >
      <ion-icon name='arrow-forward' ></ion-icon>
    </div>

  </div>
</ion-header>

<ion-content padding>
  <ion-scroll scrollY="true" scrollX="true" zoom="true" zooming="true" direction="xy" >
 <pdf-viewer [src]="pdfSrc"
              [page]="page"
              [original-size]="true"
              [show-all]="true"
              [render-text]="true"
              [zoom]="true"
  ></pdf-viewer>
  </ion-scroll>
</ion-content>
