page-realisation {
  .ion-content{
    background-color: color($colors,light);
  }

  #GlobalSigne{
    margin-right:-50px;

  }
  #GlobalSigne #gaucheSigne {
    float:left;
    width:60%;
  }
  #GlobalSigne #droiteSigne {
    margin-left:70%;

  }
  #GlobalTrait{
    margin-right:-50px;

  }
  #GlobalTrait #gaucheTrait {
    float:left;
    width:60%;
  }
  #GlobalTrait #droiteTrait {
    margin-left:70%;

  }
  .img{
    font-size: 50px;
  }
  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }
  .new-background {
    background-color: red;
  }

  .ion-navbar {
    height: -10px;
    background-color:#0277bd;
  }

  .td{
    padding-left: 2%;
  }
  .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;
    margin-top: 10px;
  }
  .first {
    width: 90px;
    float:left; /* add this */
    // border: 1px solid red;
  }
  .second {
    width: 200px;
    // border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }

  .strong{
    color: #0c60ee;
    font-size: 15px;
    line-height:5px;
  }

  .strong2{
    margin-top: 5px;
    font-size: 15px;
  }
  .size{
    font-size: 80%;
    padding-left: 2%;
  }
  #wrap:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap div {
    float: left;
    word-break: break-all;
  }
  #wrap2:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap2 div {
    float: left;
    word-break: break-all;
  }

  .oneFRANG {
    width: 15%;
    // background-color: red;

    //margin-top: 10px;
  }
  .threeFRANG {
    width: 40%;
    margin-top: 35px;
    direction: rtl;
  }
  .one {
    width: 40%;
    background-color: red;
    direction: ltr;
    margin-top: 35px;
  }
  .two {
    width: 15%;
    color: white;
    background-color: yellow;
  }
  .three {
    width: 45%;
    background-color: blue;
    margin-top: 5px;
    margin-right:0px;
  }
  .p{
    line-height:5px;
  }
  .md-card{
    margin-top: 0px;
    padding-top: 0px;
    background-color: #0277bd;
    height: 47px;
  }
  .md-card2 {
    margin-top: 0px;

    background-color: #0277bd;
    opacity: 0.9;
    height: 45px;
  }
  th{
    color: #0c60ee;
  }
  .input{
    background-color: #9e9e9e;

  }


  * {
    margin: 0;
    padding: 0;
  }
  ion-content {
    background-color: #ccc;
  }
  .teclado{
    margin:0 auto;
    background-image: -webkit-linear-gradient(#EEEEEE, #E0E0E0);
    border-radius:0 0 4px 4px;
    border-top:1px solid #252525;
    box-shadow:0 1px 2px rgba(255, 255, 255, .5) inset;
    text-align:center;
    letter-spacing:8px;
    line-height:1.6;
  }
  .teclado2{
    margin:0 auto;
    //  background-image: -webkit-linear-gradient(#9098a3, #48525f);
    border-radius:0 0 4px 4px;
    border-top:1px solid #252525;
    box-shadow:0 1px 2px rgba(255, 255, 255, .5) inset;
    text-align:center;
    letter-spacing:5px;
    line-height:1.6;
  }



  .teclado2 a{ text-decoration:none;
    width:50px;
    height:50px;
    //  font-family: Arial, Helvetica, sans-serif;
    //font-weight:bold;
    font-size:25px;
    color:white;
    text-shadow:0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe, red);
    padding:7px 1px 7px 9px;
    margin-bottom:4px;
    border-radius:6px;
    display:inline-block;
    box-shadow:0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position:relative;
  }
  .teclado2 .a2{ text-decoration:none;
    width:85px;
    height:50px;
    //font-family: Arial, Helvetica, sans-serif;
    // font-weight:bold;
    font-size:25px;
    color:white;
    text-shadow:0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe, blue);
    padding:7px 1px 7px 9px;
    margin-bottom:4px;
    border-radius:6px;
    display:inline-block;
    box-shadow:0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position:relative;
  }
  .teclado2 a:hover{ top:-1px;}
  .teclado2 a:active{ top:0;
    box-shadow:0 3px 6px -1px rgba(0, 0, 0, 1)}
  .teclado img{
    width:55px;
    height:40px;
    //padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:15px;
    color:#000;
    text-shadow:0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe, #cfd0d3);
    padding:7px 1px 7px 9px;
    margin-bottom:4px;
    border-radius:6px;
    display:inline-block;
    box-shadow:0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position:relative;
    //  text-decoration:none;
    //padding-top:50px;
    //   height:40px; width:55px; margin-top:-5px;
    // background-color: transparent;
    //font-family: Arial, Helvetica, sans-serif;
    // font-weight:bold;
    // font-size:25px;
    //color:white;
    /*   text-shadow:0 2px 0 white;
       background-image: -webkit-linear-gradient(#f3f3f3,#f3f3f3);
       padding:7px 1px 7px 9px;
      margin-bottom:4px;
       border-radius:6px;
       display:inline-block;
       box-shadow:0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
       position:relative;*/
  }
  .teclado img:hover{ top:-1px;}
  .teclado img:active{ top:0;
    box-shadow:0 3px 6px -1px rgba(0, 0, 0, 1)}
  .teclado a{ text-decoration:none;
    width:65px;
    height:40px;
    letter-spacing:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:15px;
    color:#000;
    text-shadow:0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe , #cfd0d3 );
    padding:7px 1px 7px 9px;
    margin-bottom:4px;
    border-radius:6px;
    display:inline-block;
    box-shadow:0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position:relative;
  }

  .teclado a:hover{ top:-1px;}
  .teclado a:active{ top:0;
    box-shadow:0 3px 6px -1px rgba(0, 0, 0, 1)}

  #espacio{ color:#525c69;
    font-size:32px;
    letter-spacing:0;
    padding:4px 80px 4px;}

  #search{color:#fff;
    text-shadow:0 -2px 0px #203f79;
    font-size:32px;
    letter-spacing:0;
    padding:4px 16px 4px;
    background-image: -webkit-linear-gradient(#4085f4, #1950dc);
    box-shadow:0 1px 0 #6cacf9 inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
  }
  .teclado a.dark{ color:white;
    background-image: -webkit-linear-gradient(#fefefe, #cfd0d3);
    text-shadow:0 -2px 0px #363a40;
    color:#000;
  }
  .teclado a.dark.down{font-size:15px;
    padding:4px 16px 4px;}

  input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    //display: block;
    width: 15%;
    //  padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    // margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: center;

  }

  input:focus {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    //display: block;
    width: 15%;
    //  padding: 7px;
    border: none;
    border-bottom: 1px solid rgb(3, 167, 23);
    background: transparent;
    // margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: center;

  }
  .slider {
    //overflow-y: hidden;
    overflow-y: scroll;
    height: 190px;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  }

  .dis{
    disabled: true;
  }
}
