.windows, .android, .ios, .md {
  page-liste {

    .headerListe {
      height: 50px;
      color: white;
    }

    .md-cardListe {
      margin-top: 0px;
      padding-top: 0px;
      background-color: #0277bd;
      height: 50px;
    }

    .menuImg {
      width: 30px;
      height: 30px;
      margin-top: 10px;
      margin-left: 20px;
    }

    .divFRANG {
      background-color: whitesmoke;
    }

    .divAr {
      background-color: whitesmoke;
      direction: rtl;
    }

    .contentMenu {
      background-color: whitesmoke;
    }

    .headerTitleMenu {
      text-align: center;
      color: whitesmoke;
    }

    .headerBackgroundMenu {
      background-image: url('/android_asset/www/assets/img/bagroundMenu.jpg');
      opacity: 0.6;
    }

    .ion-navbar {
      height: 45px;
    }

    .p2 {
      margin-top: 5px;
      line-height: 5px;
    }

    .list {
      padding-left: 0px;
      width: 70px;
      height: 70px;
    }

    .search {
      margin-top: 0;
      padding-top: 0;
    }
  }

}
