<ion-header style="height: 150px;color: white">

  <div fxLayout="row" fxLayoutAlign="start start" class="md-card" *ngIf="langue==='francais' || langue==='anglais'">
    <div><img src="{{pathimage}}/{{pass.getimg()}}" width="40" height="40"></div>
    &nbsp;&nbsp;
    <div fxFlex="73" style="margin-top: 10px;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    &nbsp;&nbsp;

    <div><img src="{{pathimage}}/info.png" class="roundedImage" (click)="goToInfPage()"></div>
  </div>


  <div fxLayout="row" fxLayoutAlign="start start" class="md-card2" *ngIf="langue==='francais' || langue==='anglais'">
    <div *ngIf="connection===true">
      <ion-avatar><img src="{{pathimage}}/green.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div *ngIf="connection===false">

      <ion-avatar><img src="{{pathimage}}/red.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div *ngIf="connection===true"><span><strong>{{tabLangue.titreEnligne}} </strong>{{histd}}</span></div>
    &nbsp;&nbsp;
    <div *ngIf="connection===false">

      <span><strong>{{tabLangue.titreHorsLigne}} </strong>{{histd}}</span></div>
    &nbsp;&nbsp;

  </div>

  <div fxLayout="row" fxLayoutAlign="end start" *ngIf="langue==='arabe'" class="md-card">
    <div dir="rtl"><img src="{{pathimage}}/info.png" class="roundedImage" (click)="goToInfPage()"></div>
    &nbsp;&nbsp;
    <div fxFlex="73" style="margin-top: 10px; direction:rtl;"><strong>{{pass.getnom()}}</strong> <br/>
      <strong>{{tabLangue.age}}: </strong>{{pass.getage()}}<strong>{{tabLangue.ch}}: </strong>{{pass.getchambre()}}
    </div>
    &nbsp;&nbsp;

    <div><img src="{{pathimage}}/{{pass.getimg()}}" width="40" height="40"></div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end start" class="md-card2" *ngIf="langue==='arabe'">
    <div margin-top="-3" dir="rtl" *ngIf="connection===true"><strong>{{tabLangue.titreEnligne}} </strong>{{histd}}</div>
    &nbsp;&nbsp;
    <div margin-top="-3" dir="rtl" *ngIf="connection===false"><strong>{{tabLangue.titreHorsLigne}} </strong>{{histd}}
    </div>
    &nbsp;&nbsp;
    <div margin-top="-3" *ngIf="connection===true">
      <ion-avatar><img src="{{pathimage}}/green.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;
    <div margin-top="-3" *ngIf="connection===false">
      <ion-avatar><img src="{{pathimage}}/red.png" width="25" height="25"></ion-avatar>
    </div>
    &nbsp;&nbsp;

  </div>


  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="realisation" >
        Realisation
      </ion-segment-button>

      <ion-segment-button value="pharmacie" (click)="luckFooter()">
        Pharmacie
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">
    <div *ngSwitchCase="'realisation'">

      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 5px;height:50px;" *ngIf="langue==='arabe'">
        <div class="button" *ngIf="plus===true" (click)="addHeure()">
      <span style="text-align: center;
vertical-align: middle;
line-height: 40px;"> < </span>
        </div>&nbsp;&nbsp;
        <div class="button2">
      <span style="text-align: center;
vertical-align: middle;
line-height: 40px;color:white;font-weight: bold;">{{heure.getHours()}}س</span>
        </div>&nbsp;&nbsp;
        <div class="button" *ngIf="moins===true" (click)="removeHeure()">
      <span style="text-align: center;
vertical-align: middle;
line-height: 40px;color:white;font-weight: bold; ">  > </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 5px;height:50px;"
           *ngIf="langue==='francais' || langue==='anglais'">
        <div class="button" *ngIf="moins===true" (click)="removeHeure()">
      <span style="text-align: center;
vertical-align: middle;
line-height: 40px;"> < </span>
        </div>&nbsp;&nbsp;
        <div class="button2">
      <span style="text-align: center;
vertical-align: middle;
line-height: 40px;color:white;font-weight: bold;">{{heure.getHours()}}H</span>
        </div>&nbsp;&nbsp;
        <div class="button" *ngIf="plus===true" (click)="addHeure()">
      <span style="text-align: center;
vertical-align: middle;
line-height: 40px;color:white;font-weight: bold; ">  > </span>
        </div>
      </div>

      <div class="slider1">
        <div fxLayout="row" style="margin-top: 10px" *ngIf="langue==='arabe'">

          <div fxFlex="20" style="color: #0f7ec0; direction: rtl;">
            {{tabLangue.titreValeurs}}
          </div>
          <div fxFlex="79" style="color: #0f7ec0; direction: rtl; ">
            {{tabLangue.titreDesignation}}
          </div>
        </div>


        <div fxLayout="row" style="margin-top: 10px" *ngIf="langue==='francais' || langue==='anglais'">
          <div fxFlex="79" style="color: #0f7ec0 ">
            {{tabLangue.titreDesignation}}
          </div>
          <div fxFlex="20" style="color: #0f7ec0 ">
            {{tabLangue.titreValeurs}}
          </div>

        </div>


        <ion-list *ngIf="langue==='arabe'" dir="rtl">
          <ion-item-sliding *ngFor="let pla of planification ">
            <ion-item (click)="keyboardShow(pla.getrang()); ">
              <input type="{{pla.getpave()}}"
                     *ngIf="(planificationvalue[pla.getrang()].getclavier()==='false')&&(pla.getrang()===inputrange)"
                     disabled style=" border-bottom: 1px solid rgb(3, 167, 23);"
                     value="{{planificationvalue[pla.getrang()].getvaleur()}}" item-right>

              <input type="{{pla.getpave()}}"
                     *ngIf="(planificationvalue[pla.getrang()].getclavier()==='false')&&(pla.getrang()!==inputrange)"
                     disabled
                     value="{{planificationvalue[pla.getrang()].getvaleur()}}" item-right>

              <input *ngIf="(planificationvalue[pla.getrang()].getclavier()==='true')&&(pla.getrang()===inputrange)"
                     type="{{pla.getpave()}}"
                     id="{{pla.getrang()}}inputt" (blur)="luck()"
                     style=" border-bottom: 1px solid rgb(3, 167, 23);"
                     value="{{planificationvalue[pla.getrang()].getvaleur()}}" item-right>

              <img *ngIf="planificationvalue[pla.getrang()].getdisabled()==='true'" src="{{pathimage}}/valid.png"
                   height="14"
                   width="14" item-right>
              <img *ngIf="planificationvalue[pla.getrang()].getdisabled()==='false'" src="{{pathimage}}/unvalid.png"
                   height="14" width="14" item-right>
              <span width="70" dir="rtl" item-left>{{pla.getdesignation()}}</span>


            </ion-item>
            <ion-item-options side="left" style="background-color: #FFF3E0 ;width: 300px;"
                              *ngIf="planificationvalue[pla.getrang()].getdisabled()==='true'">
              <span style=" margin-top: 15px;color: #BDBDBD ">{{pla.getdesignation()}}</span>
              <button ion-button style="color: whitesmoke;background-color: rgb(243, 156, 18);width: 100px;"
                      (click)="presentConfirm(pla.getdesignation(),pla.getnum(),pla.getrang())">
                {{tabLangue.titreAnnuler}}
              </button>

            </ion-item-options>
          </ion-item-sliding>

        </ion-list>


        <ion-list *ngIf="langue==='francais' || langue==='anglais'">
          <ion-item-sliding *ngFor="let pla of planification ">
            <ion-item (click)="keyboardShow(pla.getrang()); "><span width="70">{{pla.getdesignation()}}</span>

              <input type="{{pla.getpave()}}"
                     *ngIf="(planificationvalue[pla.getrang()].getclavier()==='false')&&(pla.getrang()===inputrange)"
                     disabled style=" border-bottom: 1px solid rgb(3, 167, 23);"
                     value="{{planificationvalue[pla.getrang()].getvaleur()}}" item-right>

              <input type="{{pla.getpave()}}"
                     *ngIf="(planificationvalue[pla.getrang()].getclavier()==='false')&&(pla.getrang()!==inputrange)"
                     disabled
                     value="{{planificationvalue[pla.getrang()].getvaleur()}}" item-right>

              <input *ngIf="(planificationvalue[pla.getrang()].getclavier()==='true')&&(pla.getrang()===inputrange)"
                     type="{{pla.getpave()}}"
                     id="{{pla.getrang()}}input" (blur)="luck()"
                     style=" border-bottom: 1px solid rgb(3, 167, 23);"
                     value="{{planificationvalue[pla.getrang()].getvaleur()}}" item-right>

              <img *ngIf="planificationvalue[pla.getrang()].getdisabled()==='true'" src="{{pathimage}}/valid.png"
                   height="14"
                   width="14" item-right>
              <img *ngIf="planificationvalue[pla.getrang()].getdisabled()==='false'" src="{{pathimage}}/unvalid.png"
                   height="14" width="14" item-right>
            </ion-item>
            <ion-item-options side="right" style="background-color: #FFF3E0 ;width: 300px;"
                              *ngIf="planificationvalue[pla.getrang()].getdisabled()==='true'">
              <span style=" margin-top: 15px;color: #BDBDBD ">{{pla.getdesignation()}}</span>
              <button ion-button style="color: whitesmoke;background-color: rgb(243, 156, 18);width: 100px;"
                      (click)="presentConfirm(pla.getdesignation(),pla.getnum(),pla.getrang())">
                {{tabLangue.titreAnnuler}}
              </button>

            </ion-item-options>
          </ion-item-sliding>

        </ion-list>

      </div>


    </div>

    <div *ngSwitchCase="'pharmacie'">
      <p>Bonjour</p>
    </div>

  </div>
</ion-content>

<ion-footer>
  <div *ngIf="clavier===true">
    <div *ngIf="keyboar===1" class="slider">

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('R')">R</a>

        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('1')" style="color: gray;">1</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('2')" style="color: gray;">2</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('3')" style="color: gray;">3</a>
        </div>
        <div fxFlex="19,8">
          <img src="{{pathimage}}/basic_backspace.png" (click)="updateInput('delete')">

        </div>

      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <a href="#" (click)="updateInput('X')">X</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('4')" style="color: gray;"> 4</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('5')" style="color: gray;">5</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('6')" style="color: gray;">6</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('OK')" style="color: #009688 ;">OK</a>
        </div>

      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('//')">//</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('7')">7</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('8')">8</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('9')">9</a>
        </div>
        <div fxFlex="19,8">
          <img src="{{pathimage}}/basic_keybord.png" (click)="updateInput('clavier')">
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('/')">/</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('.')">.</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('0')">0</a>
        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
      </div>


    </div>

    <div *ngIf="keyboar===2" class="slider">

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('')">&nbsp;</a>

        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('1')" style="color: gray;">1</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('2')" style="color: gray;">2</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('3')" style="color: gray;">3</a>
        </div>
        <div fxFlex="19,8">
          <img src="{{pathimage}}/basic_backspace.png" (click)="updateInput('delete')">

        </div>

      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <a href="#" (click)="updateInput('')">&nbsp;</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('4')" style="color: gray;"> 4</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('5')" style="color: gray;">5</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('6')" style="color: gray;">6</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('OK')" style="color: #009688 ;">OK</a>
        </div>

      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('//')">&nbsp;</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('7')">7</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('8')">8</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('9')">9</a>
        </div>
        <div fxFlex="19,8">
          <img src="{{pathimage}}/basic_keybord.png" (click)="updateInput('clavier')">
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('/')">/</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('.')">.</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: gray;" (click)="updateInput('0')">0</a>
        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
      </div>
    </div>

    <div *ngIf="keyboar===3" class="slider">
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('60')">60</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('61')">61</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('62')">62</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('63')">63</a>
        </div>
        <div fxFlex="19,8">
          <img src="{{pathimage}}/basic_keybord.png" (click)="updateInput('clavier')">

        </div>

      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <a href="#" (click)="updateInput('64')">64</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('65')"> 65</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('66')">66</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('67')">67</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('68')">68</a>
        </div>

      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('69')">69</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('70')">70</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('71')">71</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('72')">72</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('73')">73</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('74')">74</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('75')">75</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('76')">76</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('77')">77</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('78')">78</a>
        </div>
      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('79')">79</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('80')">80</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color:rgb(243, 156, 18);" (click)="updateInput('81')">81</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('82')">82</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('83')">83</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('84')">84</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('85')">85</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('86')">86</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('87')">87</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('88')">88</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('89')">89</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('90')" style="color: red;">90</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('91')" style="color: red;">91</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('92')" style="color: red;">92</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('93')" style="color: red;">93</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('94')" style="color: red;">94</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('95')" style="color: red;">95</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('96')" style="color: red;">96</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('97')" style="color: red;">97</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('98')" style="color: red;">98</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('99')" style="color: red;">99</a>
        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">
        </div>
        <div fxFlex="19,8">
        </div>
      </div>
    </div>

    <div *ngIf="keyboar===4" class="slider">

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <img src="{{pathimage}}/basic_keybord.png" (click)="updateInput('clavier')">
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36')" style="color: red;">36</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.1')" style="color: red;">36.1</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.2')" style="color: red;">36.2</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.3')" style="color: red;">36.3</a>
        </div>

      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <a href="#" (click)="updateInput('36.4')" style="color: red;">36.4</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.5')" style="color: red;"> 36.5</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.6')" style="color: red;">36.6</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.7')" style="color: red;">36.7</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.8')" style="color: red;">36.8</a>
        </div>

      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36.9')" style="color: red;">36.9</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37')">37</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.1')">37.1</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.2')">37.2</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.3')">37.3</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.4')">37.4</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.5')">37.5</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.6')">37.6</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.7')">37.7</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.8')">37.8</a>
        </div>
      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(3, 167, 23);" (click)="updateInput('37.9')">37.9</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38')">38</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color:rgb(243, 156, 18);" (click)="updateInput('38.1')">38.1</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.2')">38.2</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.3')">38.3</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.4')">38.4</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.5')">38.5</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.6')">38.6</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.7')">38.7</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.8')">38.8</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" style="color: rgb(243, 156, 18);" (click)="updateInput('38.9')">38.9</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39')" style="color: red;">39</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.1')" style="color: red;">39.1</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.2')" style="color: red;">39.2</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.3')" style="color: red;">39.3</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.4')" style="color: red;">39.4</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.5')" style="color: red;">39.5</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.6')" style="color: red;">39.6</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.7')" style="color: red;">39.7</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.8')" style="color: red;">39.8</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('39.9')" style="color: red;">39.9</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40')" style="color: red;">40</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.1')" style="color: red;">40.1</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.2')" style="color: red;">40.2</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.3')" style="color: red;">40.3</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.4')" style="color: red;">40.4</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.5')" style="color: red;">40.5</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.6')" style="color: red;">40.6</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.7')" style="color: red;">40.7</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.8')" style="color: red;">40.8</a>
        </div>
      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('40.9')" style="color: red;">40.9</a>
        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
      </div>

    </div>

    <div *ngIf="keyboar===5" class="slider">

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <img src="{{pathimage}}/basic_keybord.png" (click)="updateInput('clavier')">
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('27')">27</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('28')">28</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('29')">29</a>
        </div>
        <div fxFlex="19,8">

          <a href="#" (click)="updateInput('30')">30</a>
        </div>

      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <a href="#" (click)="updateInput('31')">31</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('32')"> 32</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('33')">33</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('34')">34</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('35')">35</a>
        </div>

      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('36')">36</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('37')">37</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('71')">71</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('72')">72</a>
        </div>
        <div fxFlex="19,8">

        </div>
      </div>

    </div>

    <div *ngIf="keyboar===6" class="slider">

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('91')">91</a>

        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('92')">92</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('93')">93</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('94')">94</a>
        </div>
        <div fxFlex="19,8">
          <img src="{{pathimage}}/basic_keybord.png" (click)="updateInput('clavier')">

        </div>

      </div>
      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">

          <a href="#" (click)="updateInput('95')">95</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('96')"> 96</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('97')">97</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('98')">98</a>
        </div>
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('99')">99</a>
        </div>

      </div>

      <div fxLayout="row" class="teclado">
        <div fxFlex="19,8">
          <a href="#" (click)="updateInput('100')">100</a>
        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
        <div fxFlex="19,8">

        </div>
      </div>

    </div>
  </div>
</ion-footer>


