page-menu {
  .ion-content {
    background-color: color($colors, light);
  }

  #GlobalSigne {
    margin-right: -50px;

  }
  #GlobalSigne #gaucheSigne {
    float: left;
    width: 60%;
  }
  #GlobalSigne #droiteSigne {
    margin-left: 70%;

  }
  #GlobalTrait {
    margin-right: -50px;

  }
  #GlobalTrait #gaucheTrait {
    float: left;
    width: 60%;
  }
  #GlobalTrait #droiteTrait {
    margin-left: 70%;

  }
  .img {
    font-size: 50px;
  }
  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }
  .new-background {
    background-color: red;
  }

  .ion-navbar {
    height: -10px;
    background-color: #0277bd;
  }

  .td {
    padding-left: 2%;
  }
  .roundedImage {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  .first {
    width: 90px;
    float: left; /* add this */
    // border: 1px solid red;
  }
  .second {
    width: 200px;
    // border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }

  .strong {
    color: #0c60ee;
    font-size: 15px;
    line-height: 5px;
  }

  .strong2 {
    margin-top: 5px;
    font-size: 15px;
  }
  .size {
    font-size: 80%;
    padding-left: 2%;
  }
  #wrap:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap div {
    float: left;
    word-break: break-all;
  }
  #wrap2:after {
    display: block;
    height: 0px;
    clear: both;
    float: none;
  }
  #wrap2 div {
    float: left;
    word-break: break-all;
  }

  .oneFRANG {
    width: 15%;
    // background-color: red;

    //margin-top: 10px;
  }
  .threeFRANG {
    width: 40%;
    margin-top: 35px;
    direction: rtl;
  }
  .one {
    width: 40%;
    background-color: red;
    direction: ltr;
    margin-top: 35px;
  }
  .two {
    width: 15%;
    color: white;
    background-color: yellow;
  }
  .three {
    width: 45%;
    background-color: blue;
    margin-top: 5px;
    margin-right: 0px;
  }
  .p {
    line-height: 5px;
  }
  .md-card {
    margin-top: 0px;
    padding-top: 0px;
    background-color: #0277bd;
    height: 47px;
  }
  .md-card2 {
    margin-top: 0px;

    background-color: #0277bd;
    opacity: 0.9;
    height: 45px;
  }
  th {
    color: #0c60ee;
  }
  .input {
    background-color: #9e9e9e;

  }

  * {
    margin: 0;
    padding: 0;
  }
  ion-content {
    background-color: #ccc;
  }
  .teclado {
    margin: 0 auto;
    background-image: -webkit-linear-gradient(#EEEEEE, #E0E0E0);
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #252525;
    box-shadow: 0 1px 2px rgba(255, 255, 255, .5) inset;
    text-align: center;
    letter-spacing: 8px;
    line-height: 1.6;
  }
  .teclado2 {
    margin: 0 auto;
    //  background-image: -webkit-linear-gradient(#9098a3, #48525f);
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #252525;
    box-shadow: 0 1px 2px rgba(255, 255, 255, .5) inset;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.6;
  }

  .teclado2 a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    //  font-family: Arial, Helvetica, sans-serif;
    //font-weight:bold;
    font-size: 25px;
    color: white;
    text-shadow: 0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe, red);
    padding: 7px 1px 7px 9px;
    margin-bottom: 4px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position: relative;
  }
  .teclado2 .a2 {
    text-decoration: none;
    width: 85px;
    height: 50px;
    //font-family: Arial, Helvetica, sans-serif;
    // font-weight:bold;
    font-size: 25px;
    color: white;
    text-shadow: 0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe, blue);
    padding: 7px 1px 7px 9px;
    margin-bottom: 4px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position: relative;
  }
  .teclado2 a:hover {
    top: -1px;
  }
  .teclado2 a:active {
    top: 0;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 1)
  }
  .teclado img {
    width: 55px;
    height: 40px;
    //padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    text-shadow: 0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe, #cfd0d3);
    padding: 7px 1px 7px 9px;
    margin-bottom: 4px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position: relative;
    //  text-decoration:none;
    //padding-top:50px;
    //   height:40px; width:55px; margin-top:-5px;
    // background-color: transparent;
    //font-family: Arial, Helvetica, sans-serif;
    // font-weight:bold;
    // font-size:25px;
    //color:white;
    /*   text-shadow:0 2px 0 white;
       background-image: -webkit-linear-gradient(#f3f3f3,#f3f3f3);
       padding:7px 1px 7px 9px;
      margin-bottom:4px;
       border-radius:6px;
       display:inline-block;
       box-shadow:0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
       position:relative;*/
  }
  .teclado img:hover {
    top: -1px;
  }
  .teclado img:active {
    top: 0;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 1)
  }
  .teclado a {
    text-decoration: none;
    width: 65px;
    height: 40px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    text-shadow: 0 2px 0 white;
    background-image: -webkit-linear-gradient(#fefefe, #cfd0d3);
    padding: 7px 1px 7px 9px;
    margin-bottom: 4px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .6) inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    position: relative;
  }

  .teclado a:hover {
    top: -1px;
  }
  .teclado a:active {
    top: 0;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 1)
  }

  #espacio {
    color: #525c69;
    font-size: 32px;
    letter-spacing: 0;
    padding: 4px 80px 4px;
  }

  #search {
    color: #fff;
    text-shadow: 0 -2px 0px #203f79;
    font-size: 32px;
    letter-spacing: 0;
    padding: 4px 16px 4px;
    background-image: -webkit-linear-gradient(#4085f4, #1950dc);
    box-shadow: 0 1px 0 #6cacf9 inset, 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
  }
  .teclado a.dark {
    color: white;
    background-image: -webkit-linear-gradient(#fefefe, #cfd0d3);
    text-shadow: 0 -2px 0px #363a40;
    color: #000;
  }
  .teclado a.dark.down {
    font-size: 15px;
    padding: 4px 16px 4px;
  }

  input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    //display: block;
    width: 15%;
    //  padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    // margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: center;

  }

  input:focus {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    //display: block;
    width: 15%;
    //  padding: 7px;
    border: none;
    border-bottom: 1px solid rgb(3, 167, 23);
    background: transparent;
    // margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: center;

  }
  .slider {
    //overflow-y: hidden;
    overflow-y: scroll;
    height: 190px;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  }
  .slider1
  .slider1::-webkit-scrollbar {
    width: 10px;
  }
  .dis {
    disabled: true;
  }
  .button {
    background-color: #D50000;
    width: 50px;
    height: 40px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    background-image: -webkit-linear-gradient(transparent, #D50000);
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .button2 {
    background-color: #0D47A1;
    width: 60px;
    height: 40px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 1), 0 6px 6px rgba(0, 0, 0, .5);
    background-image: -webkit-linear-gradient(transparent, #0D47A1);
    text-align: center;
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .filter-input {
    width: 100%;
  }

  .filter-input:focus {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    //display: block;
    width: 100%;
    //  padding: 7px;
    border: none;
    border-bottom: 1px solid rgb(3, 167, 23);
    background: transparent;
    // margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: center;

  }
.medecin-input {
    width: 80%;
  }

  .medecin-input:focus {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    //display: block;
    width: 80%;
    //  padding: 7px;
    border: none;
    border-bottom: 1px solid rgb(3, 167, 23);
    background: transparent;
    // margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: center;

  }

  .popup {
    //  padding-top: -10px;
    padding-left: 90%;
  }

  label {
    display: block;
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #CCC;
    color: #666;
  }
  label:hover {
    color: #000;
  }
  label::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    content: "+";
    vertical-align: text-top;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
  }
  #expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
  }
  section {
    padding: 0 20px;
  }
  #articleListe:checked ~ #expand {
    height: 100%;
  }
  #articleListe:checked ~ label::before {
    content: "-";
  }

  #commandeListe {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
  }
  section {
    padding: 0 20px;
  }
  #commande:checked ~ #commandeListe {
    height: 100%;
  }
  #commande:checked ~ label::before {
    content: "-";
  }

  .popup-menu-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
    background-image: linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
  }
  .popup-menu-overlay.in {
    opacity: 1;
    visibility: visible;
  }
  .popup-menu-toggle {
    position: fixed;
    width: 20px;
    height: 20px;
    // bottom: 20px;
    // left: 50%;
    //   margin-left: -20px;
    //  background-color: #886aea;
    //  background-image: url("{{pathimage}}/list.png");
    //   border: 1px solid #5227e1;
    //  z-index: 7;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .popup-menu-toggle:before {
    //  position: absolute;

    top: 0px;
    left: 0px;
    content: '\f31b';
    font-family: "Ionicons";
    opacity: 1;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .popup-menu-toggle.out {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .popup-menu-toggle.out:before {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .popup-menu-panel {
    position: fixed;
    //   width: 300px;
    //   height: 100%;
    //   top:50%;
    //   bottom: 10%;
    //   left: 50%;
    //  margin-left: -150px;
    padding: 0px 5px;
    background-color: #F5F5F5;
    z-index: 8;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0);
    transform: scale(0);

  }
  .popup-menu-panel .popup-menu-item {
    margin: auto;
    -webkit-box-flex: 1 0 30%;
    -webkit-flex: 1 0 30%;
    -moz-box-flex: 1 0 30%;
    -moz-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .popup-menu-panel .popup-menu-item i {
    margin: auto 0px 5px 0px;
    padding: 0px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
  }
  .popup-menu-panel .popup-menu-item span {
    padding: 0px;
    margin: 0px 0px auto 0px;
    color: white;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 11px;
  }
  .popup-menu-panel .popup-menu-item:active i {
    color: gold;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .popup-menu-panel .popup-menu-item:active span {
    color: gold;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
  }
  .popup-menu-panel.in {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .popup-menu-panel.in .popup-menu-item {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }

  .liste-show {
    max-height: 100px;
    overflow-y: scroll;
  }

  .listeShow {
    max-height: 200px;
    overflow-y: scroll;
  }

  .login-button {
    width: 100px;
    height: 20px;
    border-radius: 30px;
  //  font-size: 0.9em;
    border: 1px solid #fff;
    background-color: #39acdc;
  }

  .collapsible{
    background-color: #9E9E9E;
  }

  .collapsible-content{
    background-color: #FAFAFA;
  }
  .collapsible-title{
    background-color: #E0E0E0;
  }
}
